@model Gestion.EF.ReturnData

<div class="row">
    <div class="col-lg-12">
        <div class="card  card-rojo">
            <div class="card-header cabecera">
                <h5 class="m-0"></h5>
            </div>
            <div class="card-body">
            @*-----------------------------------------------------------------------------------*@
                <div class="row">
                    <div id="Novedades" class="col-md-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Novedades</label>
                                        <input id="ddlNovedades" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label">Solicitado Por</label>
                                    <input id="f_SolicitadoPor" type="text" class="form-control">
                                    <input id="f_SolicitadoPorId" type="hidden" class="form-control">
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div  class="col-md-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Contratista</label>
                                            <input id="ddlContratista" />
                                        </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Criticidad</label>
                                        <input id="ddlCriticidad" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Comentario:</label>
                        <textarea id="txtComentario" class="form-control"></textarea>
                    </div>
                </div>
            </div>

                <div class="row">
                    @*cON ESTO ESTIRAMOS TODO EL CONTORNO Q RODEA A LA CAJA <div class="col-md-12">*@
                        <div class="form-group">
                                <label class="control-label">Seleccione Archivos:</label>
                            <div id="divFUAbmNovedades" class="col-md-12">
                                                <input
                                                        type="file"
                                                        id="inpFUAbmNovedades"
                                                        onchange="SubirArchivos('n')"
                                                        multiple
                                                        class="form-control  "
                                                        accept="image/*, application/pdf,.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />

                           
                            
                            </div>
                    </div>
                        
                       
                    @*</DIV>*@
                </div>
                <div id="divGrillaAAAbmNovedades" class="col-md-2"></div>
                <div class="row" style="justify-content: center">
                    <div class="col-md-2" style="">
                        <div class="btn-graba" onclick="Grabar_Novedad()">
                            <i class="fas fa-check"></i>
                            Grabar
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="btn-cerrar" onclick="" data-dismiss="modal">
                            <i class="far fa-times-circle"></i>
                            Cancelar
                        </div>
                    </div>
                </div>
                <div class="row">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div id="divGrillaNovedades"></div>
                                </div>
                            </div>
                        </div>
                </div>

                </div>
            </div>
        </div>
    </div>
<input id="NParteDiario" type="hidden" />

<div class="modal fade  bd-example-modal-lg"
     id="ParteDiario_ContratistasModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true"
     data-backdrop="static">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="ModalTitulo" class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<div class="modal fade  bd-example-modal-lg"
     id="ParteDiario_Finalizar_ActividadModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true"
     data-backdrop="static">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="ModalTitulo_Finaliza" class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div style="padding:10px;" class="modal-body-Finaliza">
            </div>
        </div>
    </div>
</div>
<div class="modal fade  bd-example-modal-lg"
     id="ParteDiarioArchivosContratistasModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true"
     data-backdrop="static">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header cabecera">
                <h5 id="ModalTituloPAC" class="modal-title"></h5>
                <button type="button" style="color:#FFFFFF" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-bodyPAC">
            </div>

        </div>
    </div>
</div>

@*USO SOLO ESTE ME PARECE*@
<div class="modal fade  bd-example-modal-lg"
     id="divMdlArchivos"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true"
     data-backdrop="static">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header cabecera">
                <h5 id="tituloMdlArchivos" class="modal-title"></h5>
                <button type="button" style="color:#FFFFFF" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="divBodyMdlArchivos">
            </div>

        </div>
    </div>
</div>





<script>
 /**************************************************VERSION-NUEVA************************************************* */
    var dataGlobal;
    var dataNovedades = JSON.parse('@Html.Raw(Json.Serialize(Model))');

    var IdProyecto = dataNovedades.data;
    var ParteDiarioId = dataNovedades.data1;
    



   /*CARGADORES DE COMBOS*/
    var dataCriticidad = [{
        value: 'Sin Criticidad',
        id: 'Sin Criticidad'

    },
    {
        value: 'Bloqueo Parcial',
        id: 'Bloqueo Parcial'
        },
    {
        value: 'Bloqueante',
        id: 'Bloqueante'
    }
    ];
    cargaNovedades();
    cargaContratistas();
    cargaCriticidad();
   

    function cargaNovedades() {
   
        $.get("@Url.Action("GetNovedades", "ParteDiario2")",
       
            function (data2) {
                if (!data2.isError) {
                            $("#ddlNovedades").kendoDropDownList({
                                filter: "startswith",
                                dataTextField: "nombre",
                                dataValueField: "id",
                                optionLabel: "Elegir Novedad",

                                dataSource: data2,
                                height: 400
                            });
                            /// Cargo el Usuario
                            $('#f_SolicitadoPor').val(data2.data1);

                }

            }
        );
    }
   
    function cargaContratistas() {
        $.get("@Url.Action("GetContratistas", "ParteDiario2")/" + IdProyecto,
            function (data) {
                if (!data2.isError) {
                    $("#ddlContratista").kendoDropDownList({
                        filter: "startswith",
                        dataTextField: "sContratistas",
                        dataValueField: "contratistaId",
                        optionLabel: "Elegir Contratista",

                        dataSource: data,
                        height: 400
                    });

                }

            }
        );
    }

    function cargaCriticidad() {
                    $("#ddlCriticidad").kendoDropDownList({
                        filter: "startswith",
                        dataTextField: "value",
                        dataValueField: "id",
                        optionLabel: "Elegir Criticidad",

                        dataSource: dataCriticidad,
                        height: 400
                    });
    }
    /*-------- */




   /* ARCHIVOS */

    var lArchivosAdjuntos = [];
    function SubirArchivos(clave) {
        var formData = new FormData();
        var idInpFU =  'inpFUAbmNovedades';
        var idDivFU = 'divFUAbmNovedades';
        var idDivGrillaAAAbm = 'divGrillaAAAbmNovedades' ;

        var inpFU = document.getElementById(idInpFU);
        if (inpFU.files.length) {
            for (var i = 0; i < inpFU.files.length; i++) {
                formData.append('file_' + i, inpFU.files[i]);
            }
            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: "/ArchivoAdjunto/SubirArchivos",
                data: formData,
                processData: false,
                contentType: false,
                cache: false,
                timeout: 600000,
                success: function (res) {
                    if (res.error) {
                        toastr.error(res.message, { timeOut: 2000 });
                    } else {
                        res.lArchivosAdjuntos.forEach(aa => {
                            lArchivosAdjuntos.push(aa);
                        });
                        CargarGrillaArchivosAdjuntos(idDivGrillaAAAbm);
                        var divFU = document.getElementById(idDivFU);
                        divFU.innerHTML =
                            `<input type="file"
                                    id="`+ idInpFU + `"
                                    onchange="SubirArchivos('`+ clave + `')"
                                    multiple class="form-control"
                                    accept="image/*, application/pdf,.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>`;
                    }
                }
            });
        }
    }

    function CargarGrillaArchivosAdjuntos(idDivGrilla) {
        var divArchivosAdjuntos = document.getElementById(idDivGrilla);
        var table = "<table class='table'><tbody>";
        lArchivosAdjuntos.forEach(aa => {
            var tr = "<tr>";
            tr += "<td><a href='/" + aa.url + aa.nombre + "' target='_blank'>" + aa.nombreOriginal + "</a></td>";
            tr += "<td><button type='button' class='btn btn-secondary btn-xs' " +
                "onclick=\"EliminarArchivoAdjunto('" + idDivGrilla + "', " + aa.archivos_AdjuntosId + ")\">" +
                "<i class='fas fa-trash'></i>" +
                "</button></td>";
            tr += "</tr>";
            table += tr;
        });
        table += "</tbody></table>";
        divArchivosAdjuntos.innerHTML = table;
    }

    function EliminarArchivoAdjunto(idDivGrilla, id) {
        lArchivosAdjuntos = lArchivosAdjuntos.filter(function (aa) { return aa.archivos_AdjuntosId != id; });
        CargarGrillaArchivosAdjuntos(idDivGrilla);
    }

   /*------- */

   /*LIMPIARDORES */
    function LimpiarABM_Novedades() {

        $('#f_SolicitadoPor').val('');
        $('#f_SolicitadoPorId').val('');
        $('#txtComentario').val('');
      
        lArchivosAdjuntos = [];
        $('#divGrillaAAAbmNovedades').html('');

       // $('#ddlNovedades').val('0');
        $("#ddlNovedades").data('kendoDropDownList').value("0");
        $("#ddlContratista").data('kendoDropDownList').value("0");
        $("#ddlCriticidad").data('kendoDropDownList').value("0");
        

    }
   /*-------------- */

   /*CARGAR NOVEDADES */
    function Grabar_Novedad() {
        var SolicitadoPor = $('#f_SolicitadoPor').val();
        var selectedValueContratista = $('#ddlContratistas').val();
        var Criticidad = $('#ddlCriticidad').val();
        var Novedad = $('#ddlNovedades').val();

        var mRegOK = true;
        if (Criticidad == "") {
            toastr.error("Debe seleccionar una Criticidad", { timeOut: 2000 });
            mRegOK = false;
        }
        if (selectedValueContratista == "0") {
            toastr.error("Debe seleccionar un Contratista", { timeOut: 2000 });
            mRegOK = false;
        }
     
        if (SolicitadoPor == "") {
            toastr.error("Debe ingresar un Solicitante", { timeOut: 2000 });
            mRegOK = false;
        }
        if (Novedad == "") {
            toastr.error("Debe seleccionar una Novedad", { timeOut: 2000 });
            mRegOK = false

        }


        if (mRegOK == true) {
                var lIdsArchivosAdjuntos = [];
                lArchivosAdjuntos.forEach(aa => lIdsArchivosAdjuntos.push(aa.archivos_AdjuntosId));
                 var oNovedad = {
                    ParteDiarioId: ParteDiarioId,
                    IncidenteId: $('#ddlNovedades').val(),
                    Comentario: $('#txtComentario').val(),
                    SolicitadoPor: $('#f_SolicitadoPor').val(),
                    ContratistaId: $('#ddlContratista').val(),
                    Criticidad: $('#ddlCriticidad').val(),
                    lIdsArchivosAdjuntos: lIdsArchivosAdjuntos
                };
                $.post("/ParteDiario2/ParteDiarioIncidentesGraba/", oNovedad).done(
                    function (e) {
                        if (e.isError) {
                            toastr.error(e.data, { timeOut: 2000 });
                        } else {
                            toastr.success(e.data, { timeOut: 2000 });
                            //grillaNovedades(e.data1);
                            LimpiarABM_Novedades();
                            GetDatosGrillaNovedad();
                        }
                    }
                );
        } 
    }
   /*------------ */

   /*GRILLA*/
    //grilla(dataNovedades.data1);
    grillaNovedades(dataNovedades.data2);
    //para Inicializar la grilla

    function grilla(data) {
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Partediario2/Buscar_PDAsistencia/" + data,
                    type: "POST"
                },
                update: {
                    url: "/Partediario2/Update_PDAsistencia",
                    type: "POST",
                },
                parameterMap: function (options, operation) {
                    if (operation !== "read" && options.models) {
                        return options.models[0];
                    }
                }
            },
            batch: true,
            pageSize: 50,
            schema: {
                model: {
                    id: "id",
                    fields: {
                        id: { editable: false, nullable: false },
                        sContratista: { editable: false, nullable: false },
                        asig_Propios: { type: "number" },
                        asig_Propios_Presentes: { type: "number" },
                    }
                }
            }
        });

        $("#divGrillaNovedades").html("<div id='grillaPDAsistencia'></div>");

        var colGrilla = [];
        colGrilla.push({ field: "id", title: "Id", width: "90px", });
        colGrilla.push({ field: "sContratista", title: "Contratista", media: "(min-width: 450px)" });
        colGrilla.push({ field: "asig_Propios", title: "Asignados", media: "(min-width: 150px)" });
        colGrilla.push({ field: "asig_Propios_Presentes", title: "Presentes", media: "(min-width: 150px)" });
        colGrilla.push({ command: ["edit"], title: "&nbsp;", width: "250px" });
        $("#grillaPDAsistencia").kendoGrid({
            columns: colGrilla,
            navigatable: true,
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 20,
            },
            dataSource: dataSource,
            editable: "inline",
        });
    }

    function GetDatosGrillaIncidentes() {

        var id = $('#mPatronId').val();
        $.get("/ParteDiario/ParteDiarioIncidentesGet/" + id).done(function (e) {

            if (!e.isError) {
                grillaIncidentes(e.data);
                $('#f_SolicitadoPor').val(e.data1);
            } else {
                toastr.error(e.data, { timeOut: 2000 });
            }
        });
    }

    function grillaNovedades(data) {
        if (IdProyecto > 0) {
            $('#tituloInciditendes').html('<b>Incidentes</b> ');
            $("#divGrillaNovedades").html("<div id='grillaIncidentes'></div>");
            var colGrilla = [];
            colGrilla.push({ field: "id", title: "Id", media: "(min-width: 450px)", hidden: true });
            colGrilla.push({ field: "sIncidente", title: "Novedad", media: "(min-width: 450px)" });
            colGrilla.push({ field: "comentario", title: "Comentario", media: "(min-width: 450px)" });
            colGrilla.push({ field: "solicitadoPor", title: "Solicitado Por", media: "(min-width: 450px)" });
            colGrilla.push({ command: { text: "Archivos", click: verArchivos_Novedades }, title: "ArchivosInc", width: "165px", attributes: { style: "text-align:center;" } });
            colGrilla.push({ command: { name: "btn-borrarIncidente", text: "Borrar", click: GetBorrarPDincidente }, title: "", width: "75px", attributes: { style: "text-align:center;" } });
            $("#divGrillaNovedades").kendoGrid({
                filterable: true,
                sortable: true,
                groupable: true,
                reorderable: true,
                columnMenu: true,
                toolbar: ["excel"],
                excel: {
                    fileName: "ParteDiarioIncidentes.xlsx",

                    allPages: true,
                    filterable: true
                },
                dataSource: {
                    data: data
                },
                columns: colGrilla,
            });
        }
        else {
            $("#divGrillaNovedades").html("<div id='grillaIncidentes'></div>");
            var colGrilla = [];
            colGrilla.push({ field: "id", title: "Id", media: "(min-width: 450px)", hidden: true });
            colGrilla.push({ field: "sIncidente", title: "Incidente", media: "(min-width: 450px)" });
            colGrilla.push({ field: "comentario", title: "Comentario", media: "(min-width: 450px)" });
            colGrilla.push({ field: "solicitadoPor", title: "Solicitado Por", media: "(min-width: 450px)" });
            colGrilla.push({ field: "sContratista", title: "Contratista", media: "(min-width: 450px)" });
            colGrilla.push({ field: "criticidad", title: "Cricticidad", media: "(min-width: 450px)" });
            colGrilla.push({ command: { text: "Archivos", click: verArchivos_Novedades }, title: "ArchivosInc", width: "165px", attributes: { style: "text-align:center;" } });
            colGrilla.push({ command: { name: "btn-borrarIncidente", text: "Borrar", click: GetBorrarPDincidente }, title: "", width: "75px", attributes: { style: "text-align:center;" } });
            $("#grillaIncidentes").kendoGrid({
                filterable: true,
                sortable: true,
                groupable: true,
                reorderable: true,
                columnMenu: true,
                toolbar: ["excel"],
                excel: {
                    fileName: "ParteDiarioIncidentes.xlsx",

                    allPages: true,
                    filterable: true
                },
                dataSource: {
                    data: data
                },
                columns: colGrilla,
                dataBound: function () {
                    dataView = this.dataSource.view();
                    for (var i = 0; i < dataView.length; i++) {
                        if (dataView[i].isArchivosIncidentes) {
                            var uid = dataView[i].uid;
                            $("#grillaIncidentes tbody").find("tr[data-uid=" + uid + "]").find(".k-grid-ArchivosInc").hide();
                        }

                    }
                }
            });
        }
    }
    function GetBorrarPDincidente(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        
        var idRegistro = dataItem.id;
        
        $.post("/ParteDiario2/IncidentesBorra/", { id: idRegistro } ).done(function (e) {

            if (!e.isError) {
                toastr.success(e.data, { timeOut: 2000 });
                GetDatosGrillaNovedad();

            } else {
                toastr.error(e.data, { timeOut: 2000 });
            }

        });
    }
    function GetDatosGrillaNovedad() {

  
        $.get("/ParteDiario2/ParteDiarioIncidentesGet/" + ParteDiarioId).done(function (e) {

            if (!e.isError) {
                grilla(e.data);
                grillaNovedades(e.data);

            } else {
                toastr.error(e.data, { timeOut: 2000 });
            }
        });
    }

    async function VerArchivo(){
       await  setTimeout(console.log(''), 2000);
    }

   async function verArchivos_Novedades(e) {
        await VerArchivo();
        var oNovedad =  this.dataItem($(e.currentTarget).closest("tr"));
        var id = oNovedad.id;
        $('#tituloMdlArchivos').html("Archivos Novedades");
        $.get("@Url.Action("_GetArchivos_ParteDiarioNovedades", "ParteDiario2")/" + id,
            function (data) { $('.divBodyMdlArchivos').html(data); 
            });
        $('#divMdlArchivos').modal('show');
    }
   /*--------- */
</script>
