
@{
    ViewData["Title"] = "Proyecto_Ubicaciones";
    Layout = "~/Views/Shared/_LayoutGestion.cshtml";
}

<div class="row">
    <div class="col-lg-12 ">
        <div class="card  card-rojo">
            <div class="card-header cabecera">
                <h5 class="m-0">Gestión de Ubicación </h5>
            </div>
            <div id="conten_Proyecto_UbicacionesGrilla" class="card-body">

            </div>
        </div>
    </div>
</div>


<div class="modal fade  bd-example-modal-lg"
     id="Proyecto_UbicacionesModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true"
     data-backdrop="static">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header cabecera">
                <h5 id="ModalTitulo" class="modal-title"></h5>
                <button type="button" style="color:#ffffff" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>

        </div>
    </div>
</div>


@section scripts  {

    <script>

        cargaProyecto_UbicacionesGrilla();

        function cargaProyecto_UbicacionesGrilla() {
            var urlAction = '@Url.Action("_Proyecto_UbicacionesGrilla","Proyecto")';
            $("#conten_Proyecto_UbicacionesGrilla").load(urlAction);
        }

        //Estas funciones son para las ubicaciones
        function Editar(e) {

            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            var id = dataItem.id;

            $('#ModalTitulo').html(" Editar Proyecto");
                $.get("@Url.Action("_Proyecto_UbicacionesAbm","Proyecto")/" + id,
                    function (data) { $('.modal-body').html(data); })
                $('#Proyecto_UbicacionesModal').modal('show');
            }

        function Nuevo() {
            $('#ModalTitulo').html(" Agregar Proyecto");
            $.get("@Url.Action("_Proyecto_UbicacionesAbm","Proyecto")/0",
                function (data) { $('.modal-body').html(data); })
            $('#Proyecto_UbicacionesModal').modal('show');
        }

        $('#Proyecto_UbicacionesModal').on('hidden.bs.modal', function (e) {
            $('.modal-body').html("");
            cargaProyecto_UbicacionesGrilla();
        })



    </script>

}


