@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 class="display-4">Bienvenidos</h1>
    <p>Desarrollos Ingeniar en ASP.NET Core 2.2.0</p>
    <br /><br />
    <a href="Login"> Ir al Login </a>
</div>
