@model IEnumerable<Gestion.EF.Models.NotaPedido>
<div class="row">
    <div class="col-md-2">
        <label>Desde</label>
        <input type="date" id="FiltroFecDesde" class="form-control" />
    </div>
    <div class="col-md-2">
        <label>Hasta</label>
        <input type="date" id="FiltroFecHasta" class="form-control" />
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label">Estado:</label>
            <div id="Conten_Estado">
                <select id="ddlEstados" class="form-control" style="font-size:12px">
                    <option value="0" selected>Todos</option>
                    <option value="Abierto">Abierto</option>
                    <option value="Ejecucion">Ejecucion</option>
                    <option value="Finalizado">Finalizado</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Proyecto:</label>
            @*<div id="Conten_FiltroProyecto">
                </div>*@
            <input id="ddlFiltroProyecto" />
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Contratista</label>
            @*<div id="Conten_FiltroContratista">
                </div>*@
            <input id="ddlFiltroContratista" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10"></div>
    <div class="col-md-2">
        <button type="button" class="btn btn-outline-dark float-right"
                style="margin-left:1em"
                onclick="CargoDatosEnGrilla()">
            <i class="fas fa-search"></i>
            Buscar
        </button>
    </div>
</div>
<br />
<div id="GrillaKendo"></div>


<script>

    var data = JSON.parse('@Html.Raw(Json.Serialize(Model))');
 
    CargoGrilla_NotasdePedido(data);

    cargarFiltrosFechas();
    cargaFiltroProyecto();
    cargaFiltroContratista();

    function CargoDatosEnGrilla() {
        var fecDesde = $('#FiltroFecDesde').val();
        var fecHasta = $("#FiltroFecHasta").val();
        var IdProyecto = $("#ddlFiltroProyecto").val();
        var IdContratista = $("#ddlFiltroContratista").val();
        var IdEstado = $("#ddlEstados").val();

        var modelFiltro = {
            mfd: fecDesde,
            mfh: fecHasta,
            strFiltroTexto1: IdProyecto + "," + IdContratista + "," + IdEstado
        };

        $.post("/NotaPedido/_NotaPedidoGrillaFiltro", modelFiltro)
            .done(function (e) {
                if (!e.isError) {
                    data = e;
                    CargoGrilla_NotasdePedido(data.data);
                } else {
                    toastr.error(e.mensaje, { timeOut: 2000 });
                }
            });
    }

    function CargoGrilla_NotasdePedido(datos) {
        $("#GrillaKendo").html("<div id='grillaNP'></div>");
        $("#grillaNP").kendoGrid({
        filterable: true,
        sortable: true,
        dataSource: {
            data: datos
        },
        columns: [

            { field: "id", title: "Id", width: "10px", media: "(min-width: 850px)" },
            { field: "nroNP", title: "Nro NP", width: "40px", media: "(min-width: 850px)" },
            { field: "estado", title: "Estado", width: "40px", media: "(min-width: 850px)" },
            { field: "comentario", title: "Comentario", width: "80px", media: "(min-width: 850px)" },
            { field: "sProyecto", title: "Proyecto", width: "60px", media: "(min-width: 850px)" },
            { field: "sContratista", title: "Contratista", width: "60px", media: "(min-width: 850px)" },
            { field: "fecha_Creacion", title: "F. Creacion", template: "#= kendo.toString(kendo.parseDate(fecha_Creacion), 'dd/MM/yyyy') #", width: "30px" },
            { field: "sUsuarioCreo", title: "Usuario Creo", width: "40px", media: "(min-width: 850px)" },
            { command: { name: "kedit", text:"", click: Editar }, title: "Editar", width: "20px" , attributes: { style: "text-align:center;" } }
            ],
            dataBound: function () {
                dataView = this.dataSource.view();
                for (var i = 0; i < dataView.length; i++) {
                    if (dataView[i].estado == "Finalizado") {
                        var uid = dataView[i].uid;
                        $("#grillaNP tbody").find("tr[data-uid=" + uid + "]").addClass("K-bacgraundRow_V");
                    }
                    if (dataView[i].estado == "Ejecucion") {
                        var uid = dataView[i].uid;
                        $("#grillaNP tbody").find("tr[data-uid=" + uid + "]").addClass("K-bacgraundRow_Z");
                    }

                }

            }
    });
}

    function cargarFiltrosFechas() {
        var FiltroFecDesde = document.getElementById('FiltroFecDesde');
        var FiltroFecHasta = document.getElementById('FiltroFecHasta');
        var fecActual = new Date();
        var mes = fecActual.getMonth() + 1;
        var fechaHasta = fecActual.getFullYear() + "-" + (mes < 10 ? ("0" + mes) : mes) + "-" + fecActual.getDate();
        fecActual.setMonth(fecActual.getMonth() - 2);
        mes = fecActual.getMonth() + 1;
        var fechaDesde = fecActual.getFullYear() + "-" + (mes < 10 ? ("0" + mes) : mes) + "-" + fecActual.getDate();
        FiltroFecDesde.value = fechaDesde;
        FiltroFecHasta.value = fechaHasta;
    }

    function cargaFiltroProyecto() {
        $.post("/NotaPedido/GetProyectos")
            .done(function (e) {
                if (!e.isError) {
                    data2 = e.data;

                    $("#ddlFiltroProyecto").kendoDropDownList({
                        filter: "startswith",
                        dataTextField: "nombre",
                        dataValueField: "id",
                        optionLabel: "Todos los Proyectos",
                        value: 0,
                        dataSource: data2,
                        height: 400
                    });

                } else {
                    toastr.error(e.mensaje, { timeOut: 2000 });
                }
            });
    }

    function cargaFiltroContratista() {
        idProyecto = 0;
        $.post("/NotaPedido/GetContratistaProyecto",
            { IdProyecto: idProyecto })
            .done(function (e) {
                if (!e.isError) {
                    data3 = e.data;

                    $("#ddlFiltroContratista").kendoDropDownList({
                        filter: "startswith",
                        dataTextField: "nombre",
                        dataValueField: "id",
                        optionLabel: "Todos los Contratistas",
                        value: 0,
                        dataSource: data3,
                        height: 400
                    });
                } else {
                    toastr.error(e.mensaje, { timeOut: 2000 });
                }
            });
    }
</script>
