@model Gestion.EF.ReturnData

<div class="row">
    <div class="col-lg-12">
        <div class="card  card-rojo">
            <div class="card-header cabecera">
                <h5 class="m-0"></h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div id="GrillaKendoPDAsistencias"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var DataGlobal = [];
    var data = JSON.parse('@Html.Raw(Json.Serialize(Model))');
    grilla(data.data);
    function grilla(data) {
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Partediario2/Buscar_PDAsistencia/" + data,
                    type: "POST"
                },
                update: {
                    url: "/Partediario2/Update_PDAsistencia",
                    type: "POST",
                },
                parameterMap: function (options, operation) {
                    if (operation !== "read" && options.models) {
                        return options.models[0];
                    }
                }
            },
            batch: true,
            pageSize: 50,
            schema: {
                model: {
                    id: "id",
                    fields: {
                        id: { editable: false, nullable: false },
                        sContratista: { editable: false, nullable: false },
                        asig_Propios: { type: "number" },
                        asig_Propios_Presentes: { type : "number" },
                    }
                }
            }
        });

        $("#GrillaKendoPDAsistencias").html("<div id='grillaPDAsistencia'></div>");

        var colGrilla = [];
        colGrilla.push({ field: "id", title: "Id", width: "90px", });
        colGrilla.push({ field: "sContratista", title: "Contratista", media: "(min-width: 450px)" });
        //colGrilla.push({ field: "asig_Propios", title: "Asignados", media: "(min-width: 150px)" });
        colGrilla.push({ field: "asig_Propios_Presentes", title: "Presentes", media: "(min-width: 150px)" });
        colGrilla.push({ command: ["edit"], title: "&nbsp;", width: "250px" });
        $("#grillaPDAsistencia").kendoGrid({
            columns: colGrilla,
            navigatable: true,
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 20,
            },
            dataSource: dataSource,
            editable: "inline",
        });
    }

    
</script>
