@model Gestion.EF.Models.PartidaPresupuestaria

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="Codigo" class="control-label"></label>
            <input asp-for="Codigo" class="form-control" />
            <span asp-validation-for="Codigo" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="Descripcion" class="control-label"></label>
            <textarea asp-for="Descripcion" class="form-control"></textarea>
            <span asp-validation-for="Descripcion" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <button type="button"
                    style="width: 7em"
                    class="btn btn-graba float-right"
                    onclick="GrabarPartidaPresupuestaria()">
                <i class="fas fa-check"></i>
                Grabar
            </button>
            <button type="button"
                    class="btn btn-cerrar float-right"
                    data-dismiss="modal"
                    style="margin-right: 0.5em">
                <i class="far fa-times-circle"></i>
                Cerrar
            </button>
        </div>
    </div>
</div>


<script>
    function GrabarPartidaPresupuestaria() {
        var valid = validaDatos('mdlABMPartidasPresupuestarias');
        if (!valid.isError) {
            var model = {
                Id: $('#Id').val(),
                Codigo: $('#Codigo').val(),
                Descripcion: $('#Descripcion').val(),
            };
            $.post("/Gestion/GrabarPartidaPresupuestaria", model).done(function (e) {
                if (!e.isError) {
                    toastr.success(e.data, { timeOut: 2000 });
                    $('#mdlABMPartidasPresupuestarias').modal('hide');
                } else {
                    toastr.error(e.data, { timeOut: 2000 });
                }
            });
        } else {
            toastr.error(valid.mensaje, { timeOut: 2000 });
        }
    }
</script>





