@model IEnumerable<Gestion.EF.Models.Roles>

<div class="row">
    <div class="col-md-6"> <h6 class="card-title">Listado de Roles</h6></div>
    <div class="col-md-6"><button class="btn btn-primary" id="btn_Nuevo" onclick="Nuevo()"><i class="far fa-edit"></i> Agregar Rol</button></div>
</div>

<br />
<div id="GrillaKendo"></div>


<script>

    function grilla(datos) {
         
        $("#GrillaKendo").html("<div id='grillaRoles'></div>");

        $("#grillaRoles").kendoGrid({
            filterable: true,
            sortable: true,
            dataSource: {
                data: datos
            },
            detailInit: acciones_detalles,
            columns: [

                { field: "id", title: "Id", width: "80px" },
                { field: "detalle", title: "Detalle" },
                
                { title: "estado", template: '# if (activo) {#<img src="../dist/img/checkbox.png" />#} else {#<img src="../dist/img/uncheckbox.png" />#}#', width: "80px", attributes: { style: "text-align:center;" } },

                { command: { name: "kedit", text:"", click: Editar }, title: "Editar", width: "65px" , attributes: { style: "text-align:center;" } }

            ]

        });
    }

    function acciones_detalles(e) {
        acciones_detalles_List(e.data.acciones, e)
    }

    function acciones_detalles_List(datosD, e) {
        
        $("<div/>").appendTo(e.detailCell).kendoGrid({
            dataSource: {
                data: datosD,
            },

            scrollable: false,
            sortable: true,
            columns: [
                { field: "acciones.detalle", title: "Acciones" },            
            ]
        
        });

    }


    var data = JSON.parse('@Html.Raw(Json.Serialize(Model))');
    
    grilla(data);


</script>


