
@{
    ViewData["Title"] = "Encriptar";
    Layout = "~/Views/Shared/_LayoutGestion.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h5 class="m-0">Encritar string</h5>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-md-12">
                        <h6 class="card-title">Ingrese una cadena de caracteres</h6>
                    </div>
                </div>

                <div class="row saltoAr">
                    <div class="col-md-8">
                        <div class="form-group">
                            <input type="text" class="form-control" id="cadena" placeholder="Enter ...">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <button id="btn_Encriptar" type="button" class="btn btn-primary" onclick="encriptar(0)"> Encriptar </button>
                        <button id="btn_Desencriptar" type="button" class="btn btn-dark" onclick="encriptar(1)"> Desencriptar </button>
                    </div>
                </div>
                <hr />
                <div class="row saltoAr">
                    <div class="col-md-12">
                        <p>String Ingresado</p>
                        <div id="gString"></div>
                    </div>
                </div>
                <hr />
                <div class="row saltoAr">
                    <div class="col-md-12">
                        <p>String Encriptado</p>
                        <div id="eString"></div>
                    </div>
                </div>
                <hr />
                <div class="row saltoAr">
                    <div class="col-md-12">
                        <p>String Desencriptado</p>
                        <div id="dString"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>

    function encriptar(id) {


        var model = {
            scadena: $('#cadena').val(),
            ncadena: id
        };

        $.post("/Gestion/Get_encrip", model).done(function (d) {
            console.log(d);
               if (!d.isError) {
                    $('#gString').html($('#cadena').val());
                    $('#eString').html(d.data.encriptado);
                    $('#dString').html(d.data.desencriptado);

                    $('#cadena').val("");
                }

            });




    }

</script>