@model IEnumerable<Gestion.EF.Models.Incidentes>

<div class="row">
    <div class="col-md-4"> <h6 class="card-title">Listado de Hallazgos</h6></div>
    <div class="col-md-6"></div>
    <div class="col-md-2">
        <div class="btn-master" type="button" onclick="Nuevo()"><i class="far fa-edit"></i> Agregar  Hallazgo</div>
    </div>
</div>

<br />
<div id="GrillaKendo"></div>


<script>

    function grillaActividad(datos) {
        //console.log(datos);
    $("#GrillaKendo").html("<div id='grillaIncidentes'></div>");

    $("#grillaIncidentes").kendoGrid({
        filterable: true,
        sortable: true,
        dataSource: {
            data: datos
        },
        columns: [

            { field: "id", title: "Id", width: "60px", media: "(min-width: 850px)", hidden: true },
            { field: "nombre", title: "Nombre", media: "(min-width: 450px)" },
            { field: "rectype", title: "Tipo", media: "(min-width: 450px)" },
            { field: "descripcion", title: "Descripción", media: "(min-width: 450px)" },
            { field: "criticidad", title: "Criticidad", media: "(min-width: 450px)" },
            { field: "rolResponsable", title: "Area Responsable", media: "(min-width: 450px)" },
            { title: "Genera Email", media: "(min-width: 450px)", template: '# if (generaEmail) {#<img src="../../dist/img/checkbox.png" />#} else {#<img src="../../dist/img/uncheckbox.png" />#}#', },
            { field: "listaEmail", title: "Lista Email", media: "(min-width: 450px)" },
            { command: { text: "Archivos", click: verArchivos }, title: "Archivos", width: "165px", attributes: { style: "text-align:center;" } },
            { command: { name: "kedit", text:"", click: Editar }, title: "Editar", width: "65px" , attributes: { style: "text-align:center;" } }

        ]

    });
}

    var data = JSON.parse('@Html.Raw(Json.Serialize(Model))');

    grillaActividad(data);


</script>
