@model IEnumerable<Gestion.EF.Models.ParteDiario_Actividades>



<br />
<div id="GrillaKendo"></div>


<script>

    function grilla(datos) {
        console.log(datos);
    $("#GrillaKendo").html("<div id='grillaParteDiario_Actividades'></div>");

    $("#grillaParteDiario_Actividades").kendoGrid({
        filterable: true,
        sortable: true,
        dataSource: {
            data: datos
        },
        columns: [

            { field: "id", title: "Id", width: "60px", media: "(min-width: 850px)" },
            { field: "parteDiario.proyecto", title: "Parte Diario", media: "(min-width: 450px)" },
            { field: "planificacion_Proyecto_ActividadesProyecto_Ubicaciones", title: "Proyecto Actividades", media: "(min-width: 450px)" },
            { field: "usuarios.nombre", title: "Usuario Cargo", media: "(min-width: 450px)" },
            { field: "avance", title: "Avance", media: "(min-width: 450px)" },
            { field: "finalizados", title: "Finalizados", media: "(min-width: 450px)" },
           

            { command: { name: "kedit", text:"", click: Editar }, title: "Editar", width: "65px" , attributes: { style: "text-align:center;" } }

        ]

    });
}

    var data = JSON.parse('@Html.Raw(Json.Serialize(Model))');

    grilla(data);


</script>
