@model Gestion.EF.ItemParteDiario

    <div class="row">
        <div class="col-md-6 ">
            <input type="hidden" asp-for="pd.Id" />
            <div class="form-group">
                <label asp-for="pd.ProyectoId" class="control-label"></label>
                @Html.DropDownListFor(model =>
                    model.pd.ProyectoId,
                    new SelectList(Model.Proyecto, "I","Proyecto.Nombre")
                    , new { @class = "form-control" }
                )

            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="form-group">
                    <label class="control-label">Actividades</label>
                    <div id="content_ProyActividades"></div>
                </div>
            </div>
        </div>

    </div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <button type="button" class="btn btn-primary" onclick="GrabarParteDiario_Actividades()"> Grabar </button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal"> Cerrar </button>
        </div>
    </div>
</div>



<script>

     var dataProyeActividades = @Html.Raw(Json.Serialize(Model));

     console.log( 'dataProyeActividades',dataProyeActividades);
      $('#pa_ParteDiarioId').change(function (evento) {
          cargaProyeAct();
      });

    cargaProyeAct(dataProyeActividades.Planificacion_Proyecto_ActividadesId);

    function cargaProyeAct(cc) {
        if (cc == undefined) {
            cc = $('#pa_ParteDiarioId').val();

        }
        console.log('cc',cc);
        if ( parseInt(cc)  > 0) {
             $.get("@Url.Action("GetProActividades","ParteDiario")/" + cc ,
            function (data) {
                if (!data.isError) {
                    var d = '<select id="pa_Planificacion_Proyecto_ActividadesId" class="form-control">';
                    for (var i = 0; i < data.data.length; i++) {
                        d = d + '<option value="' + data.data[i].id + '">' + data.data[i].nombre + '</option>';
                    }
                    d = d + '</select>';

                    $('#content_ProyActividades').html(d);

                    if (cc != undefined) {
                        $('#Planificacion_Proyecto_Actividades').val(cc);
                    }
                }

                if (dataProyeActividades.pa.id > 0) {
                    $("#pa_ParteDiarioId").prop("disabled", true);
                    $("#pa_Planificacion_Proyecto_ActividadesId").prop("disabled", true);
                } else {
                    $("#pa_ParteDiarioId").prop("disabled", false);
                    $("#pa_Planificacion_Proyecto_ActividadesId").prop("disabled", false);
                }

            });
        }

    }


    function GrabarParteDiario_Actividades() {

        var valid = validaDatos('ParteDiario_ActividadesModal');
        if (!valid.isError) {
            var model = {
                Id: $('#pa_Id').val(),
                Planificacion_Proyecto_ActividadesId: $('#pa_Planificacion_Proyecto_ActividadesId').val(),
                ParteDiarioId: $('#pa_ParteDiarioId').val(),
                UsuariosId: $('#pa_UsuariosId').val(),
                Avance: $('#pa_Avance').val(),
                Finalizados: $('#pa_Finalizados').val(),
            };


            $.post("/ParteDiario/ParteDiario_ActividadesGraba", model).done(function (e) {

                if (!e.isError) {
                    toastr.success(e.data, { timeOut: 2000 });
                    $('#ParteDiario_ActividadesModal').modal('hide');

                } else {
                    toastr.error(e.data, { timeOut: 2000 });
                }

            });


        } else {
            toastr.error(valid.mensaje, { timeOut: 2000 });
        }
    }


</script>

