
@{
    ViewData["Title"] = "Contratista";
    Layout = "~/Views/Shared/_LayoutGestion.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card  card-rojo">
            <div class="card-header">
                <h5 class="m-0">Gestión de Contratista</h5>
            </div>
            <div id="conten_ContratistaGrilla" class="card-body">

            </div>
        </div>
    </div>
</div>


<div class="modal fade  bd-example-modal-lg"
     id="ContratistaModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true"
     data-backdrop="static">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="ModalTitulo" class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>

        </div>
    </div>
</div>


@section scripts  {

    <script>

        cargaContratistaGrilla();

        function cargaContratistaGrilla() {
            var urlAction = '@Url.Action("_ContratistaGrilla","ParteDiario")';
            $("#conten_ContratistaGrilla").load(urlAction);
        }

        function Editar(e) {

            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            var id = dataItem.id;

            $('#ModalTitulo').html(" Editar Parte Diario");
                $.get("@Url.Action("_ContratistaAbm","ParteDiario")/" + id,
                    function (data) { $('.modal-body').html(data); })
                $('#ContratistaModal').modal('show');
            }

        function Nuevo() {
            $('#ModalTitulo').html(" Agregar Parte Diario");
            $.get("@Url.Action("_ContratistaAbm","ParteDiario")/0",
                function (data) { $('.modal-body').html(data); })
            $('#ContratistaModal').modal('show');
        }

        $('#ContratistaModal').on('hidden.bs.modal', function (e) {
            $('.modal-body').html("");
            cargaContratistaGrilla();
        })



    </script>

}

