
@{
    ViewData["Title"] = "ParteDiario";
    Layout = "~/Views/Shared/_LayoutGestion.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card  card-rojo">
            <div class="card-header cabecera">
                <button style="float:right;" class="btn btn-secondary"
                        onclick="CargarInformesActVenc()">
                    <i class="far fa-bell"></i>
                    Informes Actividades Vencidas
                </button>
                <button style="float:right;" class="btn btn-primary" id="btn_Nuevo" onclick="cargaParte()">
                    <i class="far fa-edit"></i>
                    Agregar Parte Diario
                </button>
                <h5 class="m-0">Gestión de Parte Diario</h5>
            </div>
            <div id="conten_ParteDiarioGrilla" class="card-body"></div>
        </div>
    </div>
</div>

<div class="modal fade  bd-example-modal-lg"
     id="ParteDiario_ContratistasModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true"
     data-backdrop="static">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="ModalTitulo" class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

<div class="modal" id="divMdl_InformesActVenc">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Informes de Actividades Vencidas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="overflow-y: scroll; height:30em">
                <div class="row">
                    <div id="divMdlBody_InformesActVenc" class="col-md-12"></div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

@section scripts  {

    <script>


        cargaParteDiarioGrilla();

        function cargaParteDiarioGrilla() {
            var urlAction = '@Url.Action("_ParteDiarioGrilla","ParteDiario")';
            $("#conten_ParteDiarioGrilla").load(urlAction);
        }

        function Editar(e) {

            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            var id = dataItem.id;

            $('#ModalTitulo').html(" Editar Parte Diario");
                $.get("@Url.Action("_ParteDiarioAbm","ParteDiario")/" + id,
                    function (data) { $('.modal-body').html(data); })
                $('#ParteDiarioModal').modal('show');
            }

        function Nuevo() {
            $('#ModalTitulo').html(" Agregar Parte Diario");
            $.get("@Url.Action("_ParteDiarioAbm","ParteDiario")/0",
                function (data) { $('.modal-body').html(data); })
            $('#ParteDiarioModal').modal('show');
        }

        $('#ParteDiarioModal').on('hidden.bs.modal', function (e) {
            $('.modal-body').html("");
            cargaParteDiarioGrilla();
        })

        function cargaParte() {
        window.location.replace("/ParteDiario/ParteDiarioAct");

        }

        function CargarInformesActVenc() {
            $.get("@Url.Action("_GetInformesActividadesVencidas","ParteDiario")",
                function (data) {
                    $('#divMdlBody_InformesActVenc').html(data);
                    $('#divMdl_InformesActVenc').modal('show');
                }
            );
        }


    </script>

}

