
@{
    ViewData["Title"] = "ParteDiario_Actividades";
    Layout = "~/Views/Shared/_LayoutGestion.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card  card-rojo">
            <div class="card-header cabecera">
                <h5 class="m-0">Gestión de Obra </h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div style="margin-bottom:15px;" class="col-md-12">
                        <h6 class="card-title">Listado de Parte diario Actividades</h6>
                    </div>
                    <div class="col-md-12">
                        <div id="conten_ABM"></div>
                        <hr />
                    </div>
                    <div class="col-md-12">
                        <div id="conten_Parte_ActividadesGrilla">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





@section scripts  {


    <script>
        Nuevo();
        cargaParteDiario_ActividadesGrilla();

        function cargaParteDiario_ActividadesGrilla() {
              $.get("@Url.Action("_ParteDiario_ActividadesGrilla","ParteDiario")/0",
                    function (data) { $('#conten_Parte_ActividadesGrilla').html(data); })
        }

        function Editar(e) {

            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            $('#ModalTitulo').html(" Editar Proyecto");
            $.get("@Url.Action("_ParteDiario_ActividadesAbm","ParteDiario")/0",
                function (data) { $('#conten_ABM').html(data); })

        }

        function Nuevo() {
            $('#ModalTitulo').html(" Agregar Proyecto");
            $.get("@Url.Action("_ParteDiario_ActividadesAbm","ParteDiario")/0",
                function (data) { $('#conten_ABM').html(data); })
        }

    </script>

}


