@model Gestion.EF.ReturnData

<link href="~/plugins/kendoui_2022_2_802/styles/kendo.bootstrap.min.css" rel="stylesheet" />



<div class="row">
    <div class="col-lg-12">
     
        <div class="card  card-rojo">
            <div class="row">
                <div class="col-12" style="padding-top: 2.3%; padding-left: 2%;">
                    <div style="text-align: right;padding-right:2%">
                        <button class="btn btn-primary" type="button" onclick="Actualizar()">Refrescar</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="GrillaKendoActividad2"></div>
            </div>
                
        </div>

        
    </div>
</div>

<p></p>
  
<script src="~/plugins/kendoui_2022_2_802/js/jquery.min.js"></script>
<script src="~/plugins/kendoui_2022_2_802/js/kendo.all.min.js"></script>

<style>
    /*Estilo para el boton editar de la Grilla*/
    .k-icon.k-i-refresh {
        color: #1367c1;  /*  #00BFFF; Celeste */
    }
</style>
<script type="text/x-kendo-template" id="Grid-Btn-template3">
    
    <div>  #= act_Esta_Liquidado ? '<img width="50" height="30" src="../dist/img/pagado.png"/>' : act_Presenta_Liquidacion ? '<img src="../dist/img/checkbox.png" />' : '<img src="../dist/img/uncheckbox.png" />' # </div>

</script>
<script>
  
    //var dataGlobalCertificados = JSON.parse('Html.Raw(Json.Serialize(Model))');
    var dataGlobalCertificados = JSON.parse(JSON.stringify(@Html.Raw(Json.Serialize(Model))));
    var lstActividades= dataGlobalCertificados.data3;
   
    _cargarGrilla(lstActividades);

    //#region DEFINICIONES-GENERALES


    $('#chkCerRubro').kendoCheckBox({
        label: "Rubro"
    });
    $('#chkCerMedida').kendoCheckBox({
        label: "Unidad Medida"
    });
    $('#chkCerPresupuestado').kendoCheckBox({
        label: "Presupuestado"
    });
    $('#chkCerMonto').kendoCheckBox({
        label: "Monto"
    });

    var dataSource = null;
    //#endregion
 
    //#region DEFINICIONES-GRILLA
    function _cargarGrilla(data) {
        if (dataGlobalCertificados.data2 == "Lectura" || dataGlobalCertificados.data2 == "A Pagar") {
            dataSource = new kendo.data.DataSource({
                autoSync: false,
                pageSize: 50,
                data: data,
                batch: true,
                aggregate: [
                    { field: "act_Acum_Ant_Moneda", aggregate: "sum", format: "{0:N2}" },
                    { field: "act_Cert_Actual_Moneda", aggregate: "sum", format: "{0:N2}" },
                    { field: "act_Acum_Actual_Moneda", aggregate: "sum", format: "{0:N2}" },
                    { field: "monto_Total", aggregate: "sum", format: "{0:N2}" },
                    { field: "cantidad_Asignada", aggregate: "sum", format: "{0:N2}" }
                ],
                schema: {

                    model: {
                        id: "id",
                        fields: {
                            id: { editable: false, nullable: false },
                            nroNotaPedido: { editable: false, type: "string", nullable: false },
                            ubicacionNombre: { editable: false, nullable: false },
                            rubroNombre: { editable: false, nullable: false },
                            actividadNombre: { editable: false, nullable: false },
                            detalle: { editable: false, nullable: false },
                            partidaCodigo: { editable: false, nullable: false },
                            actividadNombre: { editable: false, nullable: false },
                            //-
                            cantidad_Asignada: { editable: false, nullable: false },
                            cantidad_Asignada_UniMedida: { editable: false, nullable: false },
                            monto_Unitario: { editable: false, nullable: false },
                            monto_Total: { editable: false, nullable: false },
                            monto_Total_Generico: { editable: false, nullable: false }, //para esconderlo
                            //-
                            act_Presenta_Liquidacion: { editable: false, type: "boolean" },
                            //-
                            act_Acum_Ant_Unid: { editable: false, type: "number", nullable: false },
                            vis_Liquida_FDesde: { editable: false, nullable: false },
                            vis_Liquida_FHasta: { editable: false, nullable: false },
                            act_Avance_Periodo_Unid: { editable: false, type: "number", nullable: false, validation: { min: 0 } },
                            act_Acum_Total_Unid: { editable: false, nullable: false },
                            //-
                            act_Acum_Ant_Moneda: { editable: false, nullable: false },
                            act_Cert_Actual_Moneda: { editable: false, nullable: false },
                            act_Acum_Actual_Moneda: { editable: false, nullable: false },
                            //-
                            act_Esta_Liquidado: { editable: false, type: "boolean" }
                            //--
                        }
                    }
                }
            });
        }else{
            dataSource = new kendo.data.DataSource({
                autoSync: false,
                pageSize: 50,
                data: data,
                batch: true,
                aggregate: [
                    { field: "act_Acum_Ant_Moneda", aggregate: "sum", format: "{0:N2}" },
                    { field: "act_Cert_Actual_Moneda", aggregate: "sum", format: "{0:N2}" },
                    { field: "act_Acum_Actual_Moneda", aggregate: "sum", format: "{0:N2}" },
                    { field: "monto_Total", aggregate: "sum", format: "{0:N2}" },
                    { field: "cantidad_Asignada", aggregate: "sum" }
                ],
                schema: {

                    model: {
                        id: "id",
                        fields: {
                            id: { editable: false, nullable: false },
                            nroNotaPedido: { editable: false, type: "string", nullable: false },
                            ubicacionNombre: { editable: false, nullable: false },
                            rubroNombre: { editable: false, nullable: false },
                            actividadNombre: { editable: false, nullable: false },
                            detalle: { editable: false, nullable: false },
                            partidaCodigo: { editable: false, nullable: false },
                            actividadNombre: { editable: false, nullable: false },
                            //-
                            cantidad_Asignada: { editable: false, nullable: false },
                            cantidad_Asignada_UniMedida: { editable: false, nullable: false },
                            monto_Unitario: { editable: false, nullable: false },
                            monto_Total: { editable: false, nullable: false },
                            monto_Total_Generico: { editable: false, nullable: false }, //para esconderlo
                            //-
                            act_Presenta_Liquidacion: { type: "boolean" },
                            //-
                            act_Acum_Ant_Unid: { editable: false, type: "number", nullable: false },
                            vis_Liquida_FDesde: { editable: false, nullable: false },
                            vis_Liquida_FHasta: { editable: false, nullable: false },
                            act_Avance_Periodo_Unid: { editable: true, type: "number", nullable: false, validation: { min: 0 } },
                            //validation: { required: true, min: 0 }
                            act_Acum_Total_Unid: { editable: false, nullable: false },
                            //-
                            act_Acum_Ant_Moneda: { editable: false, nullable: false },
                            act_Cert_Actual_Moneda: { editable: false, nullable: false },
                            act_Acum_Actual_Moneda: { editable: false, nullable: false },
                            //-
                            act_Esta_Liquidado: { editable: false, type: "boolean" }
                            //--
                        }
                    }
                }
            });
        }
    
       

            $("#GrillaKendoActividad2").html("<div id='grillaActividad'></div>");

            var colGrilla=[
            {
                title: "<span style='color: white; font-weight: bold;'>ACTIVIDADES PLANIFICADAS Y PRESUPUESTADAS</span>",
                headerAttributes: { style: "background-color: green" },
                columns:[
                        {
                        title: "",
                            columns:[
                            { field: "nroNotaPedido", title: "N.P.", width: "5px" },
                            { field: "ubicacionNombre", title: "Ubicación", width: "4px"},
                            { title: "<span style='color: black;'>  Rubro y Actividad  </span>", width: "7.5px", template: "R: #=  data.rubroNombre #  </br> A: #=data.actividadNombre#"},
                            { field: "detalle", title: "Comentario", width: "4.5px" },
                            { field: "partidaCodigo", title: "Partida", width: "3px", attributes: { style: "text-align:center;" } }
                             ]
                        },
                        {
                      
                            title: "<span style='color: black; font-weight: bold;'>Presupuesto <br/> a Realizar</span>",
                        headerAttributes: { style: "background-color:#05bf05;" },
                            columns: [
                           
                                {
                                    title: "",
                                    field: "monto_Total",
                                    aggregates: ["sum"], footerTemplate: "<div>$ #=sum#</div>",
                                    headerAttributes: { style: "text-align:center;" },
                                    width: "7px",
                                    template: "Cantidad: #=  data.cantidad_Asignada_UniMedida # </br> M. Unit: $#=data.monto_Unitario # </br> M. Total: $#=data.monto_Total#",
                                    
                           
                                }
                            ]                           
                        },
                        {
                       title: "<span style='color: black; font-weight: bold;'>Liquida</span>",
                        //headerAttributes: { style:  },
                            columns:[
                            { 
                                field: "act_Presenta_Liquidacion", 
                                filterable: false,
                                editable: function (dataItem) { return isEditable(dataItem);},
                                title: "<span style='background-color: #129c12; font-weight: bold;'></span>", 
                                template: kendo.template($("#Grid-Btn-template3").html()), 
                                width: "5%", media: "(min-width: 4.5px)", 
                                attributes: { style: "text-align:center; background-color:grey;font-weight: bold;" }
                            }
                            ]
                        },
                        {
                        title: "<span style='color: black; font-weight: bold;'>Avance Fisico</span>",
                        headerAttributes: { style: "background-color: #2ddf2d;text-align:center;" },
                            columns:[
                            { field: "act_Acum_Ant_Unid", title: "Acum. </br> Anterior", filterable: false, width: "4px", attributes: { style: "text-align:center;" } },
                            {
                                title: "Fecha",
                                headerAttributes: { style: "text-align:center;" },
                                width: "4.8px", 
                                template: "FD: #= data.vis_Liquida_FDesde == null? ' --/--/-- ' : data.vis_Liquida_FDesde # </br> FH: #= data.vis_Liquida_FHasta == null? ' --/--/-- ' : data.vis_Liquida_FHasta #",
                            },                    
                            { 
                                field: "act_Avance_Periodo_Unid", 
                                title: "Avance </br> Periodo", 
                                editable: function (dataItem) { return isEditable(dataItem); },
                                filterable: false, width: "4px", 
                                attributes: { style: "text-align:center;background-color:grey;font-weight: bold;" }
                            },
                            { field: "act_Acum_Total_Unid", title: "Acum. </br> Actual", filterable: false, width: "4%", media: "(min-width: 4px)", attributes: { style: "text-align:center;" } }
                            ]
                        },
                        {
                            title: "<span style='color: black; font-weight: bold;'>Importe</span>",
                        headerAttributes: { style: "background-color: #9bfb92;" },
                            columns:[
                            { field: "act_Acum_Ant_Moneda", title: "Acum. </br> Anterior", filterable: false, format: "{0:c}", width: "4px", attributes: { style: "text-align:center;" }, aggregates: ["sum"], footerTemplate: "<div>$ #=sum#</div>" },
                            { field: "act_Cert_Actual_Moneda", title: "Certificado </br> Actual", filterable: false, format: "{0:c}", width: "4px", attributes: { style: "text-align:center;" }, aggregates: ["sum"], footerTemplate: "<div>$ #=sum#</div>" },
                            { field: "act_Acum_Actual_Moneda", title: "Acum. </br> Actual", filterable: false, format: "{0:c}", width: "5px", attributes: { style: "text-align:center;" }, aggregates: ["sum"], footerTemplate: "<div>$ #=sum#</div>" }
                            ]
                        },
                    
                    //{ 
                    //    command: 
                    //        {
                    //        name: "kcertificate",
                    //        text: "",
                    //        click: grabarDetalleActividades
                          

                    //    },
                       
                    //     title: "", 
                    //     width: "4%", 
                    //     attributes: { style: "text-align:center;" } 
                    //}
                         {
                        command:
                        {
                            name: "kcertificate",
                            text: "",
                            click: grabarDetalleActividades


                        },

                        title: "",
                        width: "4%",
                        attributes: { style: "text-align:center;" }
                    }

               
                ]
            }
        ]

        /*
        
        
        */

            var Grilla= $("#grillaActividad").kendoGrid({        
                columns: colGrilla,
                navigatable: true,
            filterable: false,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 20,
                },
                dataSource: dataSource,
                editable: true,
                scrollable: true,
            height: _calcularAlturaGrilla(),
                reorderable: true,
                sortable: true,
                dataBound: function () {
                    dataView = this.dataSource.view();
                    var MostrarColumna= false;
                var grid = $("#grillaActividad").data("kendoGrid");
                    for (var i = 0; i < dataView.length; i++) {
                        var uid = dataView[i].uid;
                    //if (dataView[i].act_Presenta_Liquidacion) {
                    //        MostrarColumna=true;              
                    //    }

                    
                    }
                }
            }).data("kendoGrid");
}
    //#endregion

    //#region INTERFAZ-GRILLA

    $('#chkCerRubro').change(function (evento) {
        if ($('#chkCerRubro').prop('checked')) {
               // Grilla.hideColumn("rubroNombre");
            }else{
                //Grilla.showColumn("rubroNombre");
            }
        });
    $('#chkCerMedida').change(function (evento) {
        if ($('#chkCerMedida').prop('checked')) {
            //Grilla.hideColumn("unidad_Medida");
            }else{
           // Grilla.showColumn("unidad_Medida");
            }
        });
    $('#chkCerMonto').change(function (evento) {
        if ($('#chkCerMonto').prop('checked')) {
           
            Grilla.hideColumn("act_Acum_Ant_Moneda");
            Grilla.hideColumn("act_Cert_Actual_Moneda");
            Grilla.hideColumn("act_Acum_Actual_Moneda");
            }else{
            Grilla.showColumn("act_Acum_Ant_Moneda");
            Grilla.showColumn("act_Cert_Actual_Moneda");
            Grilla.showColumn("act_Acum_Actual_Moneda");
            }
        });


    function isEditable(dataItem) {
      var valor = true;
        if (dataGlobalCertificados.data2 == "Lectura" || dataGlobalCertificados.data2 == "A Pagar") {
                valor = false;
            }
            else{
                if (dataItem.Esta_Liquidado) {
                    valor = false;
                }
            }
       
        return valor;
}

    function grabarDetalleActividades(e){
    
        if (dataGlobalCertificados.data2 == "Lectura") {
            toastr.error("No se puede editar en modo lectura.", { timeOut: 3000 });
            return;
        }
        if (dataGlobalCertificados.data2 == "A Pagar") {
            toastr.error("No se puede editar cuando el certificado esta Pendiente de Pagar.", { timeOut: 3000 });
            return;
        }
    
        var d = this.dataItem($(e.currentTarget).closest("tr"));
       
        var model = {

            id: d.id,
            act_Presenta_Liquidacion: d.act_Presenta_Liquidacion,
            act_Avance_Periodo_Unid: d.act_Avance_Periodo_Unid
        };

        if (d.act_Presenta_Liquidacion && (d.act_Avance_Periodo_Unid == null || d.act_Avance_Periodo_Unid == 0)) {
            toastr.error('No se cargo ningun avance.', { timeOut: 2000 });
            return;
        }
       
        $.post("/Certificados/Update_Actividad", model).done(function (e) {
            if (!e.isError) {
                toastr.success(e.data, { timeOut: 2000 });
                if(e.data2 != ""){
                    toastr.error(e.data2, { timeOut: 2000 });
                }
                 _cargarGrilla(e.data3);
            } else {
                toastr.error(e.data, { timeOut: 2000 });
                   _cargarGrilla(lstActividades);
            }
        });
}
   
    function _calcularAlturaGrilla(){
    let Altura ="500px";

        if (lstActividades.length > 5){
            let Cantidad =(lstActividades.length) * 110;
            Altura= Cantidad.toString()+"px";
        }
    return Altura;
}

    //#endregion


    function Actualizar() {
        var idCertificado = dataGlobalCertificados.data1;
        if (dataGlobalCertificados.data2 == "Lectura" || dataGlobalCertificados.data2 == "A Pagar") {
            toastr.error("El certificado no se puede editar o actualizar por el Estado en el que se encuentra.", { timeOut: 3000 });
        } else {
            cargoActividades(idCertificado);
            toastr.success('Se actualizó la grilla correctamente.', { timeOut: 1500 });
        }
        
    }


</script>
