@model Gestion.EF.ItemCargaHome
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutGestion.cshtml";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12  col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"><font style="vertical-align: inherit;"><strong>Resumen Incidentes</strong></font></h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Colapso">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-3 col-6" id="Conten_Creados">
                                <!-- small box -->
                                <div class="small-box bg-info">
                                    <div class="inner">
                                        <h3>
                                            <span id="Conten_IncCreados"></span>
                                        </h3>
                                        <p>Incidentes creados</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-bag"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- ./col -->
                            <div class="col-lg-3 col-6" id="Conten_Asignados">
                                <!-- small box -->
                                <div class="small-box bg-success">
                                    <div class="inner">
                                        <h3>
                                            <span id="Conten_IncAsignados"></span>
                                        </h3>
                                        <p>Incidentes asignados</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-stats-bars"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- ./col -->
                            <div class="col-lg-3 col-6" id="Conten_PorVencer">
                                <!-- small box -->
                                <div class="small-box bg-warning">
                                    <div class="inner">
                                        <h3>
                                            <span id="Conten_IncPorVencer"></span>
                                        </h3>

                                        <p>Asignados/Creados por vencer</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-person-add"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- ./col -->
                            <div class="col-lg-3 col-6" id="Conten_Vencidos">
                                <!-- small box -->
                                <div class="small-box bg-danger">
                                    <div class="inner">
                                        <h3><span id="Conten_IncVencidos"></span></h3>
                                        <p>Asignados/Creados vencidos</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-pie-graph"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- ./col -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12  col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"><font style="vertical-align: inherit;"><strong>Novedades/Incidentes de Partes Diarios</strong></font></h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Colapso">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div id="conten_GrillaIncidentes"></div>
                            </div>
                            <div class=" col-sm-12 col-md-4" hidden>
                                <h4>Parte Diario Proyectos</h4>
                                <div style="display: block;">
                                    <div id="conten_GrillaProyecto"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12  col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"><font style="vertical-align: inherit;"><strong>Plazos Previstos</strong></font></h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Colapso">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div id="divTarjetasPlazosPrevistos"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts  {

    <script>
        localStorage.removeItem('ValoresFiltro');

        $("#Conten_Creados").click(function () {
            IncidentesCreados();
        });
        $("#Conten_Asignados").click(function () {
            IncidentesAsignados();
        });
        $("#Conten_PorVencer").click(function () {
            IncidentesPorVencer();
        });
        $("#Conten_Vencidos").click(function () {
            IncidentesVencidos();
        });

	    //// LIMPIEZA DE JSON
	    JSON.stringify = JSON.stringify || function (obj) {
		    var t = typeof (obj);
		    if (t != "object" || obj === null) {
			    // simple data type
			    if (t == "string") obj = '"' + obj + '"';
			    return String(obj);
		    }
		    else {
			    // recurse array or object
			    var n, v, json = [], arr = (obj && obj.constructor == Array);
			    for (n in obj) {
				    v = obj[n]; t = typeof (v);
				    if (t == "string") v = '"' + v + '"';
				    else if (t == "object" && v !== null) v = JSON.stringify(v);
				    json.push((arr ? "" : '"' + n + '":') + String(v));
			    }
			    var rawString = (arr ? "[" : "{") + String(json) + (arr ? "]" : "}");
			    return rawString;
		    }
	    };
	    function escape(key, val) {
		    if (typeof (val) != "string") return val;

		    var replaced = val
		    return replaced;
	    }
	    JSON.stringifyEscaped = function (obj) {
		    return JSON.stringify(obj, escape);
	    }
	    //// FIN LIMPIEzA JSON
	    var data = JSON.parse(JSON.stringifyEscaped(@Html.Raw(Json.Serialize(Model))));

        //grillaproyecto(data.lstObrasParteDiarios);
        grillaIncidentes(data.lstIncidentes);
        getPlazosPrevistos();
        IncidentesIndicadoresHome();

        function grillaproyecto(datos) {
            $("#conten_GrillaProyecto").html("<div id='GrillaProyecto'></div>");
            var colGrilla = [];
            colGrilla.push({ field: "proyecto", title: "Proyectos", media: "(min-width: 450px)" });
            colGrilla.push({ title: "Fecha PD", media: "(min-width: 450px)", template: "#= kendo.toString(kendo.parseDate(fechaUltima), 'dd-MM-yyyy') #" });
            $("#GrillaProyecto").kendoGrid({
                filterable: false,
                sortable: true,
                groupable: false,
                reorderable: false,
                columnMenu: false,
                dataSource: {
                    data: datos
                },
                columns: colGrilla,
                dataBound: function () {
                    dataView = this.dataSource.view();
                    for (var i = 0; i < dataView.length; i++) {
                        if (dataView[i].fechaUltima < datos[0].fechaUltima) {
                            var uid = dataView[i].uid;
                            $("#GrillaProyecto tbody").find("tr[data-uid=" + uid + "]").addClass("K-bacgraundRow_A");
                        }
                    }

                }
            });
        }

        function grillaIncidentes(datos) {
            $("#conten_GrillaIncidentes").html("<div id='GrillaIncidentes'></div>");
            var colGrilla = [];
            colGrilla.push({ title: "Fecha Novedad/Incidente", media: "(min-width: 450px)", template: "#= kendo.toString(kendo.parseDate(sFecha), 'dd/MM/yyyy') #" });
            colGrilla.push({ field: "sProyecto", title: "Proyecto", media: "(min-width: 450px)" });
            colGrilla.push({ field: "sIncidente", title: "Tipo Novedad/Incidente", media: "(min-width: 450px)" });
            colGrilla.push({ title: "", width: "70px", template: '# if (sComentario) {#<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="(#=sComentario#)"><i class="fa fa-info-circle" aria-hidden="true"></i></button>#} else {##}#', });
            colGrilla.push({ field: "sCriticidad", title: "Cricticidad", media: "(min-width: 450px)", hidden: true });
            $("#GrillaIncidentes").kendoGrid({
                filterable: false,
                sortable: true,
                groupable: false,
                reorderable: false,
                columnMenu: false,
                dataSource: {
                    data: datos
                },
                columns: colGrilla,
                dataBound: function () {
                    dataView = this.dataSource.view();
                    for (var i = 0; i < dataView.length; i++) {
                        if (dataView[i].sCriticidad == "Bloqueante") {
                            var uid = dataView[i].uid;
                            $("#GrillaIncidentes tbody").find("tr[data-uid=" + uid + "]").addClass("K-bacgraundRow_A");
                        }
                        if (dataView[i].sCriticidad == "Bloqueo Parcial") {
                            var uid = dataView[i].uid;
                            $("#GrillaIncidentes tbody").find("tr[data-uid=" + uid + "]").addClass("K-bacgraundRow_R");
                        }
                    }

                }
            });
        }

        function IrParteDiario() {
            window.location.replace("/ParteDiario/ParteDiario");

        }

        function IrProyectos() {
            window.location.replace("/Proyecto/Proyecto/");

        }

        function IrIncidentes() {
            window.location.replace("/incidentes/incidentesHistorial");
        }

        function IncidentesIndicadoresHome() {
            $.post("/Incidentes/IncidentesIndicadoresHome").done(function (e) {
                if (!e.isError) {
                    //toastr.success(e.data, { timeOut: 2000 });
                    $('#Conten_IncCreados').html(e.indCreados);
                    $('#Conten_IncAsignados').html(e.indAsignados);
                    $('#Conten_IncPorVencer').html(e.indPorVencer);
                    $('#Conten_IncVencidos').html(e.indVencidos);
                } else {
                    //toastr.error(e.data, { timeOut: 2000 });
                    $('#Conten_IncCreados').html(0);
                    $('#Conten_IncAsignados').html(0);
                    $('#Conten_IncPorVencer').html(0);
                    $('#Conten_IncVencidos').html(0);
                }
            });
        }

        function IncidentesCreados() {
            var estadoFiltro = { Estado: '6', Visualizacion: 'CR', Situacion: '0', Proyecto: '0', Area: '0', IdIncidente: '0' };
            localStorage.setItem('ValoresFiltro', JSON.stringify(estadoFiltro));
            window.location.replace("/incidentes/incidentesHistorial");
        }

        function IncidentesAsignados() {
            var estadoFiltro = { Estado: '6', Visualizacion: 'AS', Situacion: '0', Proyecto: '0', Area: '0', IdIncidente: '0' };
            localStorage.setItem('ValoresFiltro', JSON.stringify(estadoFiltro));
            window.location.replace("/incidentes/incidentesHistorial");
        }

        function IncidentesPorVencer() {
            var estadoFiltro = { Estado: '6', Visualizacion: 'CA', Situacion: 'PC', Proyecto: '0', Area: '0', IdIncidente: '0' };
            localStorage.setItem('ValoresFiltro', JSON.stringify(estadoFiltro));
            window.location.replace("/incidentes/incidentesHistorial");
        }

        function IncidentesVencidos() {
            var estadoFiltro = { Estado: '6', Visualizacion: 'CA', Situacion: 'VE', Proyecto: '0', Area: '0', IdIncidente: '0' };
            localStorage.setItem('ValoresFiltro', JSON.stringify(estadoFiltro));
            window.location.replace("/incidentes/incidentesHistorial");
        }

        function getPlazosPrevistos() {
            $.get("/Gestion/Get_PlazosPrevistos", function (res) {
                if (res.isError) {
                    toastr.error(res.message, { timeOut: 2000 });
                } else {
                    cargarTarjetasPlazosPrevistos(res.lPlazosPrevistos);
                }
            });
        }

        function cargarTarjetasPlazosPrevistos(lPlazosPrevistos) {
            let contenido = "<div class='row'>";
            lPlazosPrevistos.forEach(pp => {
                contenido += `
                    <div class="col-lg-3 col-6">
                      <div class='card'>
                        <div class="card-body">
                            <p class="info-box-text text-truncate" title="`+ pp.nombre + `" style="font-size: 1.3em"><span class="font-weight-bold">` + pp.nombre.toUpperCase() + `</p>
                            <p class="info-box-text">Fec. Fin Prev.: ` + pp.fechaFinPrevista + `</p>
                            <p class="info-box-text">Fec. Fin Plan.: ` + pp.fechaPlanificadaFin + `</p>
                            <p class="info-box-number"><h3 class="font-weight-bold">Días Dif.: <span class=" `+ (pp.diasDiferencia < 0 ? `text-success` : `text-danger`) + `">` + pp.diasDiferencia + `</span></h3></p>
                        </div>
                      </div>
                    </div>
                `;
            });
            contenido += "</div>";
            $("#divTarjetasPlazosPrevistos").html(contenido);
        }

    </script>

}

