

@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_LayoutGestion.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <div class="card  card-rojo">
            <div class="card-header">
                <h5 class="m-0">Gestión de Menú</h5>
            </div>
            <div id="conten_MenuGrilla" class="card-body">



            </div>
        </div>
    </div>
</div>


<div class="modal fade  bd-example-modal-lg"
     id="MenuModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true"
     data-backdrop="static">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="ModalTitulo" class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>

        </div>
    </div>
</div>


@section scripts  {

    <script>

        cargaMenuGrilla();

        function cargaMenuGrilla() {
            var urlAction = '@Url.Action("_MenuGrilla","Gestion")';
            $("#conten_MenuGrilla").load(urlAction);
        }

        function Editar(e) {

            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            var id = dataItem.id;

            $('#ModalTitulo').html(" Editar Menú");
                $.get("@Url.Action("_MenuAbm","Gestion")/" + id,
                    function (data) { $('.modal-body').html(data); })
                $('#MenuModal').modal('show');
            }

        function Nuevo() {
            $('#ModalTitulo').html(" Agregar Menú");
            $.get("@Url.Action("_MenuAbm","Gestion")/0",
                function (data) { $('.modal-body').html(data); })
            $('#MenuModal').modal('show');
        }

        $('#MenuModal').on('hidden.bs.modal', function (e) {
            $('.modal-body').html("");
            cargaMenuGrilla();
        })



    </script>

}

