@model Gestion.Web.Models.ItemUsuarioEditAvatar

@{
    ViewData["Title"] = "Perfil";
    Layout = "~/Views/Shared/_LayoutGestion.cshtml";
}

    <div class="row">
        <div class="col-md-8">

            <div class="card card-primary">
                <div class="card-header">
                    <b>Mi Perfil</b>
                </div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data" id="fileUploadForm">

                        <input type="hidden" asp-for="Id" />
                        <div id="conten_usuarios">

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="row">
                                        <div class="col-md-12" style="text-align:center;">
                                            <div class="row">
                                                <div class="col"></div>
                                                <div class="col">
                                                    <div id="conten_Avatar" class="avatar-image-container" style="margin-bottom:8px;">
                                                        <img src="~/dist/avatar/@Model.Avatar" />
                                                    </div>
                                                </div>
                                                <div class="col"></div>
                                            </div>

                                        </div>
                                        <div class="col-md-12">

                                            <div class="form-group">
                                                <input asp-for="FAvatar" class="form-control custom-file-input" />
                                                <label id="FAvatar_label" class="custom-file-label ">Seleccione una imagen.</label>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-9">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="Nombre" class="control-label"></label>
                                                <input asp-for="Nombre" class="form-control" />
                                                <span asp-validation-for="Nombre" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="Apellido" class="control-label"></label>
                                                <input asp-for="Apellido" class="form-control" />
                                                <span asp-validation-for="Apellido" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="NUsuario" class="control-label"></label>
                                                <input asp-for="NUsuario" class="form-control" />
                                                <span asp-validation-for="NUsuario" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="Email" class="control-label"></label>
                                                <input asp-for="Email" class="form-control" />
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                       

                    </form>
                </div>
                <div class="card-footer">
                    <button id="btn_grabaDatos" class="btn btn-primary ">Grabar datos del Usuario</button>
                </div>
            </div>

        </div>
        <div class="col-md-4">

            <div class="card card-green">
                <div class="card-header">
                    <b>Actualizar Clave</b>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form">
                                <label class="control-label">Ingrese la clave actual</label><br />
                                <input id="claveActual" type="password" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Ingrese la nueva clave</label><br />
                                <input id="claveNueva" type="password" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Confirme  la nueva clave</label><br />
                                <input id="claveNuevaC" type="password" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary" onclick="ActualizarClaves()"> Actualizar Clave </button>
                </div>
            </div>

        </div>

        <div class="col-md-12">
            <div class="card card-green">
                <div class="card-header">
                    <b> Mis Direcciones</b>
                </div>
                <div class="card-body">
                    <div id="content_direcciones_grilla" class="row" style="width: 100% !important;">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col">
                                    <h5><b>Direcciones</b></h5>
                                </div>
                                <div class="col">
                                    <button type="button" class="btn k-grid-kadd" onclick="EditDireccion()"></button>
                                </div>
                                <div class="col"></div>
                            </div>
                            <hr />
                            <div id="grilla_Direcciones"></div>
                        </div>

                    </div>

                    <div id="content_direcciones" style="display:none;  background-color: aliceblue; padding:5px;">
                        <h5><b>ABM Direcciones</b></h5>
                        <input id="D_Id" type="hidden" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label"> Procincia </label>
                                    <div id="Provincias"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label"> Localidad </label>
                                    <div id="Localidades"></div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label"> Barrio </label>
                                    <input id="D_Barrio" type="text" class="form-control" data-val-required="El campo Barrio es requerido" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label"> Calle </label>
                                    <input id="D_Calle" type="text" class="form-control" data-val-required="El campo Calle es requerido" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label"> N° / Altura </label>
                                    <input id="D_Altura" type="text" class="form-control" data-val-required="El campo N°/Altura es requerido" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label"> Piso </label>
                                    <input id="D_Piso" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label"> Dpto. </label>
                                    <input id="D_Dpto" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label"> CP </label>
                                    <input id="D_CP" type="text" class="form-control" data-val-required="El campo CP es requerido" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary" onclick="GrabaDireccion()"> Grabar Direcciones </button>
                                    <button type="button" class="btn btn-secondary" onclick="ClosePanel()"> Cancelar </button>
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>

                </div>
            </div>
            
        </div>

    </div>




@section scripts  {

    <script>

        $('#Nombre').change(function (evento) {
            creaNUsuario();
        });
        $('#Apellido').change(function (evento) {
            creaNUsuario();
        });

        function creaNUsuario() {
            var n = $('#Nombre').val().substring(0, 1);
            var a = $('#Apellido').val().split(" ");

            $('#NUsuario').val((n + a[0]).toLowerCase());
        }


        $("#btn_grabaDatos").click(function (event) {

            event.preventDefault();

            var valid = validaDatos('conten_usuarios');
            if (!valid.isError) {

                

                var form = $('#fileUploadForm')[0];
                var model = new FormData(form);
                $("#btn_grabaDatos").prop("disabled", true);

                $.ajax({
                    type: "POST",
                    enctype: 'multipart/form-data',
                    url: "/Gestion/ActualizaDatos",
                    data: model,
                    processData: false,
                    contentType: false,
                    cache: false,
                    timeout: 600000,
                    success: function (e) {

                        if (!e.isError) {

                            toastr.success(e.data, { timeOut: 2000 });


                        } else {

                            toastr.error(e.data, { timeOut: 2000 });

                        }

                    }
                });

            }else {
                 toastr.error(valid.mensaje, { timeOut: 2000 });
            }


        });

        function grillaDirecciones(datos) {

            $("#grilla_Direcciones").html("<div id='Direcciones'></div>");

            $("#Direcciones").kendoGrid({
                dataSource: {
                    data: datos
                },
                columns: [

                    { field: "nProvincias", title: "Prov" },
                    { field: "nLocalidades", title: "Loc" },
                    { field: "calle", title: "Calle" },
                    { field: "altura", title: "Altura" },

                    { title: "estado", template: '# if (activo) {#<img src="../dist/img/checkbox.png" />#} else {#<img src="../dist/img/uncheckbox.png" />#}#', width: "80px", attributes: { style: "text-align:center;" } },

                    { command: { name: "kedit", text:"", click: EditDireccion }, title: "Editar", width: "65px", attributes: { style: "text-align:center;" } }

                ]

            });
        }

        var dataDir = JSON.parse('@Html.Raw(Json.Serialize(Model.UsuariosDireccion))');
        var dataProvincias = JSON.parse('@Html.Raw(Json.Serialize(Model.Provincias))');
        grillaDirecciones(dataDir);
        cargaProvincias(dataProvincias);
    
        function cargaProvincias(data) {

            var pro = '<select id="D_Provincias" class="form-control">';
            pro = pro + '<option value="0">- Seleccione una Provincia -</option>';
            for (var i = 0; i < data.length; i++) {
                pro = pro + '<option value="' + data[i].id + '">' + data[i].provincia + '</option>';
            }
            pro = pro + '</select>';

            $('#Provincias').html(pro);

            $('#D_Provincias').change(function (evento) {
                cargaLocalidad()
            });
        }

        function cargaLocalidad(LocalidadesId) {

            var id = $('#D_Provincias').val();

            $.get("@Url.Action("getLocalidades","Gestion")/" + id,
                function (data) {
                    if (!data.isError) {
                        var loc = '<select id="D_Localiad" class="form-control">';
                        loc = loc + '<option value="0">- Seleccione una Localidad -</option>';
                        for (var i = 0; i < data.data.length; i++) {
                            loc = loc + '<option value="' + data.data[i].id + '">' + data.data[i].localidad + '</option>';
                        }
                        loc = loc + '</select>';

                        $('#Localidades').html(loc);

                        if (LocalidadesId != undefined) {
                            $('#D_Localiad').val(LocalidadesId);
                        }
                    }

                });


        }
        
        function EditDireccion(e) {

            $('#content_direcciones_grilla').hide(500);
            $('#content_direcciones').show();
            limpiaDicreccion();

            if (e != undefined) {
                var d = this.dataItem($(e.currentTarget).closest("tr"));
                $('#D_Id').val(d.id);
                $('#D_Provincias').val(d.provinciasId);
                cargaLocalidad(d.localidadesId);
                $('#D_Barrio').val(d.barrio);
                $('#D_Calle').val(d.calle);
                $('#D_Altura').val(d.altura);
                $('#D_Piso').val(d.piso);
                $('#D_Dpto').val(d.dpto);
                $('#D_CP').val(d.cp);
            }

        }

        function GrabaDireccion() {

            var validPL = validaProLoc();
            if (!validPL.isError) {

                var valid = validaDatos('content_direcciones');
                if (!valid.isError) {
                    var model = {
                        Id: $('#D_Id').val(),
                        UsuariosId: $('#Id').val(),
                        ProvinciasId: $('#D_Provincias').val(),
                        LocalidadesId: $('#D_Localiad').val(),
                        Barrio: $('#D_Barrio').val(),
                        Calle: $('#D_Calle').val(),
                        Altura: $('#D_Altura').val(),
                        Piso: $('#D_Piso').val(),
                        Dpto: $('#D_Dpto').val(),
                        CP: $('#D_CP').val(),
                        Activo: true,
                        Borrado: false
                    };

                    $.post("/Gestion/UsuariosDireccionGraba", model).done(function (e) {

                        if (!e.isError) {

                            toastr.success("La direccion se ha grabado OK.", { timeOut: 2000 });
                            grillaDirecciones(e.data);
                            ClosePanel();

                        } else {
                            toastr.error(e.data, { timeOut: 2000 });
                        }

                    });


                } else {
                    toastr.error(valid.mensaje, { timeOut: 2000 });
                }
            } else {
                toastr.error(validPL.mensaje, { timeOut: 2000 });
            }
        }

        function validaProLoc() {
            var Ok = false;
            var Mensaje = "";

            if ($('#D_Provincias').val() === "0") {
                $('#D_Provincias').removeClass("is-valid");
                $('#D_Provincias').addClass("is-invalid");
                Mensaje = Mensaje + "Seleccione una Provincia<br>";
                Ok = true;
            } else {
                $('#D_Provincias').removeClass("is-invalid");
                $('#D_Provincias').addClass("is-valid");
            }

            if ($('#D_Localiad').val() === "0") {
                $('#D_Localiad').removeClass("is-valid");
                $('#D_Localiad').addClass("is-invalid");
                Mensaje = Mensaje + "Seleccione una Localidad<br>";
                Ok = true;
            } else {
                $('#D_Localiad').removeClass("is-invalid");
                $('#D_Localiad').addClass("is-valid");
            }

            var dReturn = {
                isError: Ok,
                mensaje: Mensaje
            };

            return dReturn;
        }

        function limpiaDicreccion() {

            $('#D_Id').val(0);
            $('#D_Provincias').val("0");
            $('#D_Provincias').removeClass("is-valid");
            $('#D_Provincias').removeClass("is-invalid");

            $('#Localidades').html("");

            $('#D_Barrio').val("");
            $('#D_Barrio').removeClass("is-valid");
            $('#D_Barrio').removeClass("is-invalid");

            $('#D_Calle').val("");
            $('#D_Calle').removeClass("is-valid");
            $('#D_Calle').removeClass("is-invalid");

            $('#D_Altura').val("");
            $('#D_Altura').removeClass("is-valid");
            $('#D_Altura').removeClass("is-invalid");

            $('#D_Piso').val("");
            $('#D_Piso').removeClass("is-valid");
            $('#D_Piso').removeClass("is-invalid");

            $('#D_Dpto').val("");
            $('#D_Dpto').removeClass("is-valid");
            $('#D_Dpto').removeClass("is-invalid");

            $('#D_CP').val("");
            $('#D_CP').removeClass("is-valid");
            $('#D_CP').removeClass("is-invalid");


        }

        function ClosePanel() {
            $('#content_direcciones_grilla').show(500);
            $('#content_direcciones').hide(500);
        }

        function ActualizarClaves() {

            var validPL = validaClaves();
            if (!validPL.isError) {

                var model = {
                    ClaveActual: $('#claveActual').val(),
                    ClaveNueva: $('#claveNueva').val()
                }

                $.post("/Gestion/ActualizaClave", model).done(function (e) {

                    if (!e.isError) {

                        toastr.success(e.data, { timeOut: 2000 });
                        $('#claveActual').val("");
                        $('#claveNueva').val("");
                        $('#claveNuevaC').val("");

                    } else {

                        toastr.error(e.data, { timeOut: 2000 });
                        if (e.data == "La Clave Actual ingresasa no es correcta.") {
                            $('#claveActual').removeClass("is-valid");
                            $('#claveActual').addClass("is-invalid");
                        }
                    }

                });

            } else {
                 toastr.error(validPL.mensaje, { timeOut: 2000 });
            }

        }

        function validaClaves() {

            var Ok = false;
            var Mensaje = "";

            if ($('#claveActual').val() === "") {
                $('#claveActual').removeClass("is-valid");
                $('#claveActual').addClass("is-invalid");
                Mensaje = Mensaje + "Ingrese la clave actual.<br>";
                Ok = true;
            } else {
                $('#claveActual').removeClass("is-invalid");
                $('#claveActual').addClass("is-valid");
            }

            if ($('#claveNueva').val() === "0") {
                $('#claveNueva').removeClass("is-valid");
                $('#claveNueva').addClass("is-invalid");
                Mensaje = Mensaje + "Ingrese la nueva clave.<br>";
                Ok = true;
            } else {
                if ($('#claveNueva').val().length > 5) {
                    $('#claveNueva').removeClass("is-invalid");
                    $('#claveNueva').addClass("is-valid");

                    if ($('#claveNueva').val() !== $('#claveNuevaC').val()) {
                        $('#claveNueva').removeClass("is-valid");
                        $('#claveNueva').addClass("is-invalid");
                        $('#claveNuevaC').removeClass("is-valid");
                        $('#claveNuevaC').addClass("is-invalid");
                        Mensaje = Mensaje + "La clave nueva no es igual a la clave de compronación.<br>";
                        Ok = true;
                    } else {
                        $('#claveNueva').removeClass("is-invalid");
                        $('#claveNueva').addClass("is-valid");
                        $('#claveNuevaC').removeClass("is-invalid");
                        $('#claveNuevaC').addClass("is-valid");
                    }

                } else {
                    $('#claveNueva').removeClass("is-valid");
                    $('#claveNueva').addClass("is-invalid");
                    Mensaje = Mensaje + "La clave debe tener al menos 6 caracteres.<br>";
                    Ok = true;
                }
            }




            var dReturn = {
                isError: Ok,
                mensaje: Mensaje
            };

            return dReturn;
        }

    </script>
}