@model object
<div id="app_MAFR">
    HOLA MUNDO
</div>

@section scripts  {
    <script>
        const oResult = JSON.parse('@Html.Raw(Json.Serialize(Model))');
        const app = Vue.createApp({
            data() {
                return {
                    
                }
            },
            methods: {
            },
            computed: {
                
            }
        });
        const vm = app.mount('#app_MAFR');
    </script>
}
