
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model LoginViewModels
<div class="login-box">
    
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">

            <div class="login-logo">
                <a href="#">
                    <img src="~/dist/img/logoColor.png" style="width:250px; height:auto;" />
                </a>
            </div>

            <p class="login-box-msg">Iniciar sesión</p>

            <form asp-controller="Login" asp-action="Index" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="input-group mb-3" style="margin-bottom:25px !important;">
                    <input asp-for="Input.NUsuario" class="form-control" placeholder="Usuario" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div style="margin-top:-15px; margin-bottom:5px;"><span asp-validation-for="Input.NUsuario" class="text-danger"></span></div>

                <div class="input-group mb-3" style="margin-bottom:25px !important;">
                    <input asp-for="Input.Password" class="form-control" placeholder="Clave">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div style="margin-top:-15px; margin-bottom:5px;"><span asp-validation-for="Input.Password" class="text-danger"></span></div>

                <div class="row">
                    <div class="col-8">
                        <div class="form-control">
                            <div class="checkbox">
                                <input asp-for="Input.RememberMe">
                                <label for="remember">
                                    Recordarme
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">ACCEDER</button>
                    </div>

                    <!-- /.col -->
                </div>
            </form>
            <div>
                <label id="indexMessage" class="error">@Html.DisplayFor(m => m.ErrorMenssage)</label>
            </div>

            <p class="mb-1">
                <a href="#">Olvidé mi contraseña.</a>
            </p>
            <p class="mb-0">
                ¿No tienes cuenta aún? <a href="Login/Registro" class="text-center"> Créala desde aquí.</a>
            </p>
            <br />
            @if (TempData["UserLoginFailed"] != null)
            {
                <p class="alert alert-danger">@TempData["UserLoginFailed"]</p>
            }
        </div>
        <!-- /.login-card-body -->
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
