@model Gestion.EF.ItemNotaPedido

<div class="row" id="pnlCabecera">
    <div class="col-lg-12 ">
        <div class="row">
            <input type="hidden" asp-for="Id" />
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Proyecto</label>
                    <input id="ddlProyectos_Np" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Contratista</label>
                    <input id="ddlContratistas"/>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Fecha Nota Pedido</label>
                    <input asp-for="oNP.Fecha_Creacion" type="date" name="partydate" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group  myDIV">
                    <label>Nro Nota Pedido:</label>

                         <input asp-for="oNP.NroNP" maxlength="100" class="form-control" />
     
                </div>
                <div class="hide">El Nro de Pedido se Genera Automaticamente.</div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label>Comentario:</label>
                    <div class="col-md-12">@Html.TextAreaFor(model => model.oNP.Comentario, new { @cols = "80", @rows = "3" })</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">Indice</label>
                    <input id="ddlConten_IndiceAjuste" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label">Presenta Poliza</label>
                    <input id="oNP_PresentaPoliza" />
                </div>
            </div>
            <div class="col-md-4">
                <div id="GrupoDescripcionPoliza">
                    <div class="form-group">
                        <label>Descripcion Poliza:</label>
                        <input id="oNP_ComentarioPoliza" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <button class="btn-graba" id="btnGrabarCabecera" type="button" onclick="GrabarNotaPedido()"><i class="fas fa-check"></i> Grabar </button>
            </div>
            <div class="col-md-2">
                <button class="btn-cerrar" id="btnCancelarCabecera" type="button" data-dismiss="modal"><i class="far fa-times-circle"></i> Cerrar</button>
            </div>
            <div class="col-md-8"></div>
        </div>
    </div>
</div>
<br />
<hr />
<div class="row" id="pnlDetalle">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label">Detalle de la nota de pedido</label>
            </div>
        </div>
    </div>
    <div class="col-lg-12 ">
        <div class="row">
            <div id="GrillaKendoDetalle"></div>
        </div>
        <div class="row">
            <br />
            <br />
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Ubicacion</label>
                    @*<div id="Conten_Ubicaciones"></div>*@
                    <input id="ddlUbicaciones" />
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label">Actividad</label>
                    @*<div id="Conten_Actividades"></div>*@
                    <input id="ddlActividades" />
                </div>
            </div>
            @*<div class="col-md-4">
                <div class="form-group">
                    <label>Comentario:</label>
            <input id="txtComentario" class="form-control" disabled />  filter: "contains",
                </div>
            </div>*@
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>Planificado:</label>
                    @*<input id="txtPlanificado" class="form-control" disabled />*@
                    <input id="txtPlanificado" type="number" title="" value="0" min="0" max="99999999" step="1" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Precio Ref.:</label>
                    @*<input id="txtPrecio" class="form-control" disabled />*@
                    <input id="txtPrecio" type="number" title="" value="0" min="0" max="99999999" step="1" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Asignado:</label>
                    @*<input id="txtAsignado" class="form-control" disabled />*@
                    <input id="txtAsignado" type="number" title="" value="0" min="0" max="99999999" step="1" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>A Asignar:</label>
                    @*<input type="number" id="txtAAsignar" class="form-control" />*@
                    <input id="txtAAsignar" type="number" title=""  min="0" max="99999999" step="1" />
                   
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Precio:</label>
                    @*<input type="number" id="txtAPrecio" class="form-control" />*@
                    <input id="txtAPrecio" type="number" title=""  min="0" max="99999999" step="1" />
                    
                </div>
            </div>

        </div>
        <div class="row">
            <br />
            <br />
            @*Nota: Variables Utilizadas para el Editar de la Grilla*@
            <input type="hidden" id="IdRegistro" value="0"/>
            <input type="hidden" id="IdActividadesCombo" value="0" /> 
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="btn-graba" type="button" onclick="GrabarNotaPedido_Detalle()"><i class="fas fa-check"></i> Grabar</div>
            </div>
            
            <div class="col-md-2">
                <div class="btn-cerrar" type="button" data-dismiss="modal"><i class="far fa-times-circle"></i> Cerrar</div>
            </div>
            <div class="col-md-8"></div>
        </div>
    </div>
</div>
<style>
    .hide {
        display: none;
    }

    .form-group.myDIV:hover + .hide {
        display: block;
        color: red;
    }
</style>

<script>

    var dataGlobal = JSON.parse('@Html.Raw(Json.Serialize(Model))');

    //***************************************************************************************************************** */
    var dataPoliza = [
        {
        id: '1',
        nombre: 'Tiene Poliza'

    },
    {
        id: '0',
            nombre: 'No Tiene Poliza'
    }
    ];

   

      if (dataGlobal.idProyecto != null) {
            if (dataGlobal.oNP != null) {
                    
               cargarIndice(dataGlobal.oNP.idIndiceAjuste);
                cargaPoliza(BooleanToString(dataGlobal.oNP.presentaPoliza));
            cargaProyectos(dataGlobal.lstProyectos);

                    var hol= $('#oNP_PresentaPoliza').data("kendoDropDownList");
                     var hol2= $('#ddlConten_IndiceAjuste').data("kendoDropDownList");
                    var hol3 = $('#ddlProyectos_Np').data("kendoDropDownList");

                     hol.enable(false);
                     hol2.enable(false);
                     hol3.enable(false);

                    $('#oNP_PresentaPoliza').attr('disabled', true);
                    $('#ddlConten_IndiceAjuste').attr('disabled', true);
                    $('#ddlProyectos_Np').attr('disabled', true);

            MostrarDescripcionPoliza();

             }

      }else{
        cargaPoliza(0);
        cargarIndice(0);
        }


    if (dataGlobal.oNP != null) { $('#oNP_ComentarioPoliza').val(dataGlobal.oNP.comentarioPoliza); }
    function cargaPoliza(valor=0) {
        if (dataGlobal.oNP != null) {
        $("#oNP_PresentaPoliza").kendoDropDownList({
                       filter: "contains",
                        dataTextField: "nombre",
                        dataValueField: "id",
                        optionLabel: "Elegir Poliza",
                         change: MostrarDescripcionPoliza,
                       
                        dataSource: dataPoliza,
                          value:valor,
                        height: 400
                    });
        }else{
            $("#oNP_PresentaPoliza").kendoDropDownList({
                filter: "contains",
                        dataTextField: "nombre",
                        dataValueField: "id",
                        optionLabel: "Elegir Poliza",
                         change: MostrarDescripcionPoliza,
                        dataSource: dataPoliza,
                        height: 400
                    });
        }
    }

    function cargarIndice(valor=0) {
        var dataIndice = [];
        dataIndice = dataGlobal.lstIndices;
        if (dataGlobal.oNP != null) {
                    $("#ddlConten_IndiceAjuste").kendoDropDownList({
                filter: "contains",
                        dataTextField: "nombre",
                        dataValueField: "id",
                        optionLabel: "Elegir Indice",
                        
                        dataSource: dataIndice,
                value: valor,
                        height: 400
                    });
        }else{
         $("#ddlConten_IndiceAjuste").kendoDropDownList({
                        filter: "contains",
                        dataTextField: "nombre",
                        dataValueField: "id",
                        optionLabel: "Elegir Indice",
                        dataSource: dataIndice,
                        height: 400
                    });
        
        }

    }
    $("#GrupoDescripcionPoliza").hide();

    function MostrarDescripcionPoliza(){
    
        if( $("#oNP_PresentaPoliza").data('kendoDropDownList').value() == '1')
        {
               $("#GrupoDescripcionPoliza").show();
        }else{
              $("#GrupoDescripcionPoliza").hide();

        }
    }



    //************************************************************************************************************************ */
    $("#txtPlanificado").kendoNumericTextBox({
        value: 0,
    });
    //$("#txtAAsignar").kendoNumericTextBox({
    //    value: 0,
    //});
    $("#txtAAsignar").kendoNumericTextBox({
        decimals: 2
    });

    $("#txtAPrecio").kendoNumericTextBox({
        format: "c",
        decimals: 2
    });
    $("#txtPrecio").kendoNumericTextBox({
        format: "c",
        decimals: 2,
        enabled: false,
    });
    $("#txtAsignado").kendoNumericTextBox({
        value: 0,
    });

    inicializoPantalla();

    var IdRegistroGrilla=0;

    function inicializoPantalla() {
        cargaProyectos(dataGlobal.lstProyectos);
           
        if (dataGlobal.idProyecto == "0") {
            var mFecha = new Date();
            inicializoFechas(mFecha , "dtpFechaNotaPedido");
        }
        //2-Inicializo el detalle
        
        inicializoDetalle();
    }

    function inicializoFechas(pFecha, pControl) {
        //Cargo la Fecha
        var d = pFecha;
        var month = d.getMonth() + 1;
        var day = d.getDate();
        var year = d.getFullYear();

        if (month < 10)
            month = '0' + month;
        if (day < 10)
            day = '0' + day;
        var mFechaHoy = year + "-" + month + "-" + day;

        if (pControl == "dtpFechaNotaPedido") {
            var dateControl = document.querySelector('input[id="oNP_Fecha_Creacion"]');
            dateControl.value = mFechaHoy;
        }
    }

    function cargaProyectos(data) {
        $("#ddlProyectos_Np").kendoDropDownList({
            filter: "contains",
            dataTextField: "nombre",
            dataValueField: "id",
            optionLabel: "Elegir Proyecto",
            change: ddlProyectos_onChange,
            dataSource: data,
            value: dataGlobal.idProyecto,
            height: 400
        });
        
        if (dataGlobal.idProyecto != null) {
            if (dataGlobal.oNP != null) {

                cargaContratistas(dataGlobal.idProyecto, dataGlobal.oNP.idContratista);
               
                cargarIndice(dataGlobal.oNP.idIndiceAjuste);
                cargaPoliza(BooleanToString(dataGlobal.oNP.presentaPoliza));
                 MostrarDescripcionPoliza()


                /*
                $('#ddlConten_IndiceAjuste').val(dataGlobal.idIndiceAjuste);
                $('#oNP_PresentaPoliza').val(dataGlobal.presentaPoliza);
                */

              
                
            }
            else {
                
                cargaContratistas(dataGlobal.idProyecto, 0);
                cargarIndice(0);
                cargaPoliza(0);
            };
        }
    }

    function ddlProyectos_onChange() {
        idProyecto = $('#ddlProyectos_Np').val();
        cargaContratistas(idProyecto, 0);
        $('#ddlContratistas').attr('disabled', false);
    };

    function cargaContratistas(idProyecto, idContratista) {
        if (idProyecto == "0") {
            idProyecto = $('#ddlProyectos_Np').val();
        }
        
        $.post("/NotaPedido/GetContratistaProyecto",
            { IdProyecto: idProyecto })
            .done(function (e) {
                if (!e.isError) {
                    data = e.data;
                    /*CARGO COMBO*/
                    $(document).ready(function () {
                        $("#ddlContratistas").kendoDropDownList({
                            filter: "contains",
                            optionLabel: "Elegir Contratista",
                            dataTextField: "sContratistas",
                            dataValueField: "contratistaId",
                            dataSource: data,
                            value: idContratista,
                            height: 400
                        });
                    });
                } else {
                    toastr.error(e.mensaje, { timeOut: 2000 });
                }
            });
    }

    function GrabarNotaPedido() {
        var selectedValueProyecto = $('#ddlProyectos_Np').val();
        var selectedValueContratista = $('#ddlContratistas').val();
        var IdIndiceAjuste = $("#ddlConten_IndiceAjuste").val();
        var ComentarioPoliza= $('#oNP_ComentarioPoliza').val();
        var PresentaPoliza = $('#oNP_PresentaPoliza').val();
        //Validar



        var mRegOK = true;

        if (selectedValueProyecto == "0") {
            toastr.error("Debe seleccionar un proyecto", { timeOut: 2000 });
            mRegOK = false;
        }
        if (selectedValueContratista == "0") {
            toastr.error("Debe seleccionar un contratista", { timeOut: 2000 });
            mRegOK = false;
        }
        
        if (PresentaPoliza != '0' && PresentaPoliza != '1') {
            toastr.error("Debe seleccionar si presenta o no Poliza", { timeOut: 2000 });
            mRegOK = false;
        }
        if (PresentaPoliza == '1') {
            if (ComentarioPoliza == "") {
                toastr.error("Debe ingresar la Descripcion de la Poliza", { timeOut: 2000 });
                mRegOK = false;
             }
        }
         if (IdIndiceAjuste == "0") {
            toastr.error("Debe seleccionar un Indice", { timeOut: 2000 });
            mRegOK = false;
        }
        

        if (mRegOK == true) {
            var model = {
                Id: $('#Id').val(),
                IdProyecto: selectedValueProyecto,
                IdContratista: selectedValueContratista,
                NroNP: $('#oNP_NroNP').val(),
                Comentario: $('#oNP_Comentario').val(),
                Fecha_Creacion: $('#oNP_Fecha_Creacion').val(),
                PresentaPoliza: stringToBoolean(PresentaPoliza),
                ComentarioPoliza: ComentarioPoliza,
                IdIndiceAjuste: IdIndiceAjuste
            };
            $.post("/NotaPedido/NotaPedidoGraba", model).done(function (e) {

                if (!e.isError) {
                    toastr.success(e.data, { timeOut: 2000 });
                    $('#Id').val(e.data1);
                    var NroNotaPedido = (e.data2).toString();
                     $('#oNP_NroNP').val(NroNotaPedido);
                    inicializoDetalle();
                } else {
                    toastr.error(e.data, { timeOut: 2000 });
                }
            });

        }

    }

    function stringToBoolean(str) {
        switch (str.toLowerCase()) {
            case "true":
            case "yes":
            case "1":
                return true;

            case "false":
            case "no":
            case "0":
                return false;

            default:
                return undefined;
        }
    }

    function BooleanToString(str){
    switch (str) {
        case true:
            return '1';

        case false:
            return '0';

        default:
            return undefined;
    }
        }

    function HabilitaCabecera(pHabilita) {
        if (pHabilita == "false") {

            $('#ddlProyectos_Np').attr('disabled', true);
            $('#ddlContratistas').attr('disabled', true);
            $('#oNP_NroNP').attr('disabled', true);
            $('#oNP_Comentario').attr('disabled', true);
            $('#oNP_Fecha_Creacion').attr('disabled', true);
            $("#btnGrabarCabecera").kendoButton({
                enable: false
            });
            $('#oNP_PresentaPoliza').attr('disabled', true);
            $('#ddlConten_IndiceAjuste').attr('disabled', true);
            $('#oNP_ComentarioPoliza').attr('disabled', true);

            var hol = $('#oNP_PresentaPoliza').data("kendoDropDownList");
            var hol2 = $('#ddlConten_IndiceAjuste').data("kendoDropDownList");
            var hol3 = $('#ddlProyectos_Np').data("kendoDropDownList");

            hol.enable(false);
            hol2.enable(false);
            hol3.enable(false);

            $('#oNP_PresentaPoliza').attr('disabled', true);
            $('#ddlConten_IndiceAjuste').attr('disabled', true);
            $('#ddlProyectos_Np').attr('disabled', true);

        }
        else {
            $('#ddlProyectos_Np').attr('disabled', false);
            $('#ddlContratistas').attr('disabled', false);
            $('#oNP_NroNP').attr('disabled', true);
            $('#oNP_Comentario').attr('disabled', false);
            $('#oNP_Fecha_Creacion').attr('disabled', false);
            $("#btnGrabarCabecera").kendoButton({
                enable: true
            });
             $('#oNP_PresentaPoliza').attr('disabled', false);
            $('#ddlConten_IndiceAjuste').attr('disabled', false);
            $('#oNP_ComentarioPoliza').attr('disabled', false);
        }
        
    }

    /// *****************************************************************************************************************************************************************************************
    /// *************************************
    /// * SECCION DETALLE DE NOTA DE PEDIDO *
    /// *************************************



    function inicializoDetalle() {
        LimpiarDetalle();
        var mIdProyecto = $('#ddlProyectos_Np').val();
        if (mIdProyecto != "0" && mIdProyecto != "") {

            $("#pnlDetalle").show();
            HabilitaCabecera("false");
            if (dataGlobal.lstNP_det != null) {
                if (dataGlobal.lstNP_det.length > 0) {
                    CargoDatosEnGrillaDetalle(dataGlobal.lstNP_det);
                }
            }
           
        }
        else {
            $("#pnlDetalle").hide();
            HabilitaCabecera("true");
        }

    }
  



    //*C-R-U-D*/
    function GrabarNotaPedido_Detalle() {
       //Controlo el Estado de la Nota de Pedido
       if( dataGlobal.oNP != null){
            if (dataGlobal.oNP.estado == "Finalizado" ) {
                toastr.error("No se puede editar una nota de pedido que teng el estado Finalizado", { timeOut: 3000 });
               return;
                }
       }

        var selectedValueActividades = $("#ddlActividades").val();

        var mRegOK = true;
        
        if (selectedValueActividades == "0") {
            toastr.error("Debe seleccionar una actividad", { timeOut: 2000 });
            mRegOK = false;
        }
        if ($('#txtAAsignar').val() == "") {
            toastr.error("Debe ingresar una cantidad a asignar", { timeOut: 2000 });
            mRegOK = false;
        }
          if(IdRegistroGrilla==0){
            if ($('#txtAAsignar').val() == "") {
                toastr.error("Debe ingresar una cantidad a asignar", { timeOut: 2000 });
                mRegOK = false;
            }
            if ($('#txtAPrecio').val() == "0") {
                toastr.error("Debe ingresar un precio para la asignacion", { timeOut: 2000 });
                mRegOK = false;
            }
          }
          else{
            if ($("#txtAAsignar").data("kendoNumericTextBox").value() == "0") {
            toastr.error("Debe ingresar una cantidad a asignar", { timeOut: 2000 });
            mRegOK = false;
            }
            if ($("#txtAPrecio").data("kendoNumericTextBox").value() == "0") {
                toastr.error("Debe ingresar un precio para la asignacion", { timeOut: 2000 });
                mRegOK = false;
            }
          }
        
        if (mRegOK == true) {
            if($('#IdRegistro').val()==0){
                var model = {

                    IdNotaPedido: $('#Id').val(),
                    IdPPA: selectedValueActividades,
                    _Ori_Cantidad: $('#txtAAsignar').val(),
                    _Ori_Precio_Contradado: $('#txtAPrecio').val(),
                      _Cantidad_Planificada: $("#txtPlanificado").data("kendoNumericTextBox").value()
                };
            }
            else{
                    var model = {
                        Id: $('#IdRegistro').val(),
                        IdNotaPedido: $('#Id').val(),
                        IdPPA: selectedValueActividades,
                    _Ori_Cantidad: $("#txtAAsignar").data("kendoNumericTextBox").value(), //txtPlanificado
                    _Ori_Precio_Contradado: $("#txtAPrecio").data("kendoNumericTextBox").value(),
                    _Cantidad_Planificada: $("#txtPlanificado").data("kendoNumericTextBox").value()
                    };
                
            }
           
                $.post("/NotaPedido/NotaPedido_DetalleGraba", model).done(
                    function (e) {
                        
                        if (!e.isError) {
                           
                           Actualizar_Interfaz_DetallePedido();

                            const regex2 = /(\d{4})-(\d{4})-(\d{4})/g;
                            //$('#oNP_NroNP').val()
                            if (regex2.test($('#oNP_NroNP').val()) == false) {
                                GrabarNotaPedido();
                            }

                       
                        } else {
                            toastr.error(e.data, { timeOut: 2000 });
                        }
                    });

                
            
        }

       
    }
    function HabilitarDetallePedido(){
        $('#ddlUbicaciones').attr('enabled', true);
        $('#ddlActividades').attr('enabled', true);
       
        var txtAPrecio = $("#txtAPrecio").data("kendoNumericTextBox");
        txtAPrecio.enable(true);
    }

    function BorrarNotaPedido_Detalle(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var id = dataItem.id;

        if (dataItem.finalizado == true) {
            toastr.error("No se puede editar una nota de pedido que tenga el estado Finalizado", { timeOut: 3000 });
           return;

       }

        if(dataItem.avance_Actual > 0)
        {
            toastr.error("No se puede borrar una Nota Pedido Detalle que presente avance", { timeOut: 2000 });
            return;
        }
        $.post("/NotaPedido/BorraNotaPedido_Detalle/" + id).done(function (e) {
            if (!e.isError) {           
                Actualizar_Interfaz_DetallePedido();
               
            } else {
                toastr.error("Hubo un error al borrar la Actividad", { timeOut: 2000 });
                toastr.error(e.data2, { timeOut: 2000 });
            }
            
        });
    }

    function MostrarNotaPedido_Detalle(e)
    {
         var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        if (dataItem.finalizado == true) {
            toastr.error("No se puede editar una nota de pedido que tenga el estado Finalizado", { timeOut: 3000 });
           return;

       }

        
        var id = dataItem.id;

      
        $('#IdRegistro').val(dataItem.id);
        $('#IdActividadesCombo').val(dataItem.idPPA);

      
        HabilitaCabecera("false");
        cargaUbicaciones($('#ddlProyectos_Np').val(), dataItem.idUbicacion);
       

        ddlUbicaciones_onChange($('#IdActividadesCombo').val(), dataItem.idUbicacion,dataItem.idPPA, dataItem.idIndiceAjuste, dataItem.cantidad, );

        $('#ddlUbicaciones').attr('disabled', true);
        $('#ddlActividades').attr('disabled', true);

    

      
        var txtAAsignarMostrar = $("#txtAAsignar").data("kendoNumericTextBox");
        txtAAsignarMostrar.value(dataItem.cantidad);

        var stringMonto = (dataItem.cantidad).toString();
        $("#txtAAsignar").val(stringMonto);


        IdRegistroGrilla = dataItem.id;

       var txtAPrecio = $("#txtAPrecio").data("kendoNumericTextBox");
     
        txtAPrecio.value(dataItem._Precio_Contradado);      
        txtAPrecio.enable(false); 
       

        $("#pnlDetalle").show();
       
    }
    /*--*/


    /*Funciones COMBOS */
    function cargaUbicaciones(IdProyecto, value = 0) {
        var selectedValueProyecto = $('#ddlProyectos_Np').val();
        $.post("/NotaPedido/GetUbicacionesProyecto",
            { IdProyecto: IdProyecto })
            .done(function (e) {
                if (!e.isError) {
                    data = e.data;
                    if ($('#IdRegistro').val() == 0) {
                        $("#ddlUbicaciones").kendoDropDownList({
                            filter: "contains",
                            dataTextField: "nombre",
                            dataValueField: "id",
                            optionLabel: "Elegir Ubicacion",
                            change: cargaActividades,
                            dataSource: data,
                            height: 400
                        });
                         $("#ddlActividades").kendoDropDownList({
                            filter: "contains",
                            dataTextField: "_Nombre_Comentarios",
                            dataValueField: "id",
                            optionLabel: "Elegir Actividad",
                            change: cargaDatosActividad,
                            dataSource: [],
                            height: 400
                        });


                    }
                    else {
                        if (value != 0) {
                            $("#ddlUbicaciones").kendoDropDownList({
                                filter: "contains",
                                dataTextField: "nombre",
                                dataValueField: "id",
                                optionLabel: "Elegir Ubicacion",
                                change: ddlUbicaciones_onChange,
                                dataSource: data,
                                value: value,
                                height: 400
                            });
                        }
                    }
                } else {
                    toastr.error(e.mensaje, { timeOut: 2000 });
                }
            });
    }
    function cargaActividades(value = 0, idubic = 0) {

        var selectedValueUbicacion;

        (idubic > 0) ? selectedValueUbicacion = idubic : selectedValueUbicacion = $("#ddlUbicaciones").data('kendoDropDownList').value();

        $.get("@Url.Action("GetActividadesUbicacionesProyecto", "NotaPedido")/" + selectedValueUbicacion,
            function (data) {

                if (!data.isError) {
                    if ($('#IdRegistro').val() == 0) {
                        $("#ddlActividades").kendoDropDownList({
                            filter: "contains",
                            dataTextField: "_Nombre_Comentarios",
                            dataValueField: "id",
                            optionLabel: "Elegir Actividad",
                            change: cargaDatosActividad,
                            dataSource: data,
                            height: 400
                        });
                    }
                    else {
                        if (value != 0) {
                            $("#ddlActividades").kendoDropDownList({
                               filter: "contains",
                                dataTextField: "_Nombre_Comentarios",
                                dataValueField: "id",
                                optionLabel: "Elegir Actividad",

                                dataSource: data,
                                height: 400
                            });

                            var ActividadesKendo = $("#ddlActividades").data('kendoDropDownList');
                            ActividadesKendo.select(function (actividad) { return actividad.id == value; })
                            cargaDatosActividad(value);
                        }

                    }

                }

            }
        );
    }
    function cargaDatosActividad(idAct = 0, precioAAsignar = 0, precio = 0) {

        var selectedValueActividad;
        idAct > 0 &&  precioAAsignar > 0? selectedValueActividad = idAct : selectedValueActividad = $("#ddlActividades").val();

      //  $.get("Url.Action("GetDatosActividad_V2", "NotaPedido")/" + selectedValueActividad,
        $.get("@Url.Action("GetDatosActividad_V2","NotaPedido")?IdPPA=" + selectedValueActividad + "&IdNP=" + $('#Id').val(),
            function (data) {
                if (!data.isError) {
 
                    var txtPlanificado = $("#txtPlanificado").data("kendoNumericTextBox");
                    txtPlanificado.value(data.data._Cantidad_y_Medida);

                    var txtPrecio = $("#txtPrecio").data("kendoNumericTextBox");
                    txtPrecio.value(data.data._Monto_Formato);

                    var txtAsignado = $("#txtAsignado").data("kendoNumericTextBox");
                    txtAsignado.value(data.data._Cantidad_Asignada);

                    //Esto es para cuando editamos de la grilla, no borre el valor
                    if ($('#IdRegistro').val() == 0) {
                        var txtAAsignar = $("#txtAAsignar").data("kendoNumericTextBox");
                        txtAAsignar.value(0);
                         $('#txtAAsignar').val(0);

                        var txtAAPrecio = $("#txtAPrecio").data("kendoNumericTextBox");
                        txtAAPrecio.value(0);
                        $('#txtAPrecio').val(0);
                    
                    }
                

                }
            }
        );
    }



    /*--*/

    /*Funciones Satelites */
    function CargoDatosEnGrillaDetalle(datos) {
    
        $("#GrillaKendoDetalle").html("<div id='grillaNP_detalle'></div>");
        $("#grillaNP_detalle").kendoGrid({
            filterable: false,
            sortable: false,
            dataSource: {
                data: datos
            },      
            columns: [
                { field: "id", title: "Id", width: "10px", media: "(min-width: 850px)" },
                { field: "sUbicacion", title: "Ubicacion", width: "40px", media: "(min-width: 850px)" },
                { field: "sActividad", title: "Actividad", width: "40px", media: "(min-width: 850px)" },
                { field: "_Cantidad_Planificada", title: "Cantidad Planificada", width: "40px", media: "(min-width: 850px)" },
                { field: "_Precio_Contradado", title: "Precio ($)", width: "40px", media: "(min-width: 850px)" },
                { field: "_Cantidad_y_Medida", title: "Cantidad a Asignar", width: "40px", media: "(min-width: 850px)" },
                { command: { name: "kedit", text: "", click: MostrarNotaPedido_Detalle }, title: "Editar", width: "20px", attributes: { style: "text-align:center;" } },
                { command: { name: "kdelete", text: "", click: BorrarNotaPedido_Detalle }, title: "Borrar", width: "20px", attributes: { style: "text-align:center; padding: 5px;" } }          
            ],
            dataBound: function () {
                dataView = this.dataSource.view();
                for (var i = 0; i < dataView.length; i++) {
                    if (dataView[i].finalizado == true) {
                        var uid = dataView[i].uid;
                        $("#grillaNP_detalle tbody").find("tr[data-uid=" + uid + "]").addClass("K-bacgraundRow_V");
                    }
                    if (dataView[i].sEstadoPedido == "Finalizado") {
                        var uid = dataView[i].uid;
                        $("#grillaNP_detalle tbody").find("tr[data-uid=" + uid + "]").addClass("K-bacgraundRow_V");
                    }
                    if (dataView[i].sEstadoPedido == "Ejecucion") {
                        var uid = dataView[i].uid;
                        $("#grillaNP_detalle tbody").find("tr[data-uid=" + uid + "]").addClass("K-bacgraundRow_Z");
                    }
                }

            }
        });
    }
    function ddlUbicaciones_onChange(value = 0, idubic = 0, idAct = 0, idInd = 0,
        precioAAsignar = 0, precio = 0) {

        if (value == 0) {
            cargaActividades($('#IdActividadesCombo').val());
        } else {
            cargaActividades(value, idubic);
           
            if (idAct >= 0 && precioAAsignar >= 0 && precio >= 0) {
                
                cargaDatosActividad(idAct, precioAAsignar, precio);
            }

        }
    };
     /*--*/

    //*** Funciones Reutilizables ***/  
    function Actualizar_Interfaz_DetallePedido() 
    {
        var model = {
            IdNotaPedido: $('#Id').val()         
        };
        $.post("/NotaPedido/Listar_DetallePedido", model).done(
            function (e) {
                if (!e.isError) {
                    toastr.success("Se ha realizado la Operacion correctamente", { timeOut: 1500 });
                    CargoDatosEnGrillaDetalle(e.data);

                } else {
                    toastr.error('Hubo un problema para realizar la Operacion', { timeOut: 2000 });
                }
            });
        
            //Limpiamos los Inputs
        var txtAAsignar = $("#txtAAsignar").data("kendoNumericTextBox");
        txtAAsignar.value(0);
        var txtAPrecio = $("#txtAPrecio").data("kendoNumericTextBox");
         txtAPrecio.enable(true); 
        txtAPrecio.value("$ 0");

        $('#ddlUbicaciones').attr('disabled', false);
        $('#ddlActividades').attr('disabled', false);
        inicializoDetalle();

        $('#ddlUbicaciones').val(0);
            

       

    }
    function LimpiarDetalle() 
    {
        var txtPlanificado = $("#txtPlanificado").data("kendoNumericTextBox");
        txtPlanificado.value(0);
        txtPlanificado.enable(false);
        var txtAsignado = $("#txtAsignado").data("kendoNumericTextBox");
        txtAsignado.value(0);
        txtAsignado.enable(false);
        var txtAAsignar = $("#txtAAsignar").data("kendoNumericTextBox");
        txtAAsignar.value(0);
        var txtAPrecio = $("#txtAPrecio").data("kendoNumericTextBox");
        txtAPrecio.value("$ 0");
        var txtPrecio = $("#txtPrecio").data("kendoNumericTextBox");
        txtPrecio.value("$ 0");
        txtPrecio.enable(false);
        $('#IdRegistro').val(0);

        var mIdProyecto = $('#ddlProyectos_Np').val();
        cargaUbicaciones(mIdProyecto);
    }
    /*--*/
</script>
