@model List<Gestion.EF.Models.Archivos_Adjuntos_Relacion>

<div style="padding:10px;">
    <div class="row">
        <div class="col-md-4"><h6 class="card-title">Archivos Adjuntos</h6></div>
    </div>
    <br />
    <div id="Lista" class="row"></div>
</div>

<script>

        var data = JSON.parse('@Html.Raw(Json.Serialize(Model))');
        var htmlD = "";
        if (data.length > 0) {
            for (var i = 0; i < data.length; i++) {
                if (data[i].archivos_Adjuntos.extencion == "PNG" ||
                    data[i].archivos_Adjuntos.extencion == "JPG" ||
                    data[i].archivos_Adjuntos.extencion == "JPEG") {
                    htmlD = htmlD + "<div id='Img_" + data[i].archivos_AdjuntosId +
                        "' class='col-md-3'><a href='/" + data[i].archivos_Adjuntos.url +
                        data[i].archivos_Adjuntos.archivo + "' target='_blank'><img src='" +
                        data[i].archivos_Adjuntos.url + data[i].archivos_Adjuntos.archivo +
                        "' style='width:100%; height:auto;'/>" + data[i].nombre + " </a>"+
                        " <img onclick='deleteFile(" + data[i].archivos_AdjuntosId +
                        ")' src='../dist/img/deleteImage.png' style='float:right; padding:5px; width:30px; height:auto;' /> </div>";
                } else {
                    htmlD = htmlD + "<div id='Img_" + data[i].archivos_AdjuntosId +
                        "' class='col-md-3'><a href='/" + data[i].archivos_Adjuntos.url +
                        data[i].archivos_Adjuntos.archivo + "' target='_blank'>" +
                        data[i].nombre + "<br>"+
                        " </a> <img onclick='deleteFile(" + data[i].archivos_AdjuntosId +
                        ")' src='../dist/img/deleteImage.png' style='float:right; padding:5px; width:30px; height:auto;' /></div>";
                }
            }
        }
        else {
            htmlD = htmlD + "<div class='col-md-12'>No hay archivos cargados</div>";
        }
        $("#Lista").html(htmlD);

        function deleteFile(id) {
            $.get("@Url.Action("ParteDiarioArchivosDelete", "ParteDiario")/" + id, function (data) {
                $('#Img_' + id).hide();
            })
        }

</script>

