@model IEnumerable<Res_PD>

<div class="row">
    <div class="col-md-4"> <h6 class="card-title">Listado de Parte Diario</h6></div>
    <div class="col-md-6">
    </div>
</div>

<br />


<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Fecha Desde:</label>
            <input id="dtpFechaDesde" type="date" class="form-control" style="width: 100%;" contenteditable="false" />
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Fecha Hasta:</label>
            <input id="dtpFechahasta" type="date" class="form-control" style="width: 100%;" contenteditable="false" />
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Proyecto</label>
            <div id="Conten_proyecto"></div>
        </div>
    </div>
    <div style="margin-top:25px;" class="col-md-3">
        <div class="form-group">
            <div class="btn-verde" type="button" onclick="cargaGrilla()"><i class="fa fa-search"></i> Filtrar</div>
        </div>
    </div>
</div>


<div id="GrillaKendo"></div>

<div class="modal fade  bd-example-modal-xl"
     id="ParteDiarioResumenModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true"
     data-backdrop="static">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="ModalTitulo" class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="divMdlBody_ResumenPD" class="modal-body">

            </div>

        </div>
    </div>
</div>



<script>

    //#region INICIALIZACIÓN

    var DataGlobal = [];
    //INICIO - ARMADO DE FECHA EN LOS TEXT DEL FILTRO
    var d = new Date();
    var d2 = new Date();
    d2.setDate(d2.getDate() - 1);
    //console.log('d2',d2);
    var month = d.getMonth() + 1;
    var day = d.getDate();
    var year = d.getFullYear();
    var dayAyer = d2.getDate();

    if (month < 10)
        month = '0' + month;
    if (day < 10)
        day = '0' + day;
    if (dayAyer < 10)
        dayAyer = '0' + dayAyer;

    var mFechaAyer = year + "-" + month + "-" + dayAyer;
    var mFechaHoy = year + "-" + month + "-" + day;
    var dateControl = document.querySelector('input[id="dtpFechaDesde"]');
    dateControl.value = mFechaAyer;
    var dateControl = document.querySelector('input[id="dtpFechahasta"]');
    dateControl.value = mFechaHoy;
    cargaProyecto();
    var data = JSON.parse('@Html.Raw(Json.Serialize(Model))');
    grilla(data);
    //#endregion

    //#region FUNCIONES

    function grilla(datos) {
    $("#GrillaKendo").html("<div id='grillaParteDiario'></div>");

         var colGrilla = [];
        colGrilla.push({ field: "id", title: "Id", width: "90px", });
        colGrilla.push({ field: "proyectoNombre", title: "Proyecto", media: "(min-width: 150px)" });
        colGrilla.push({ field: "fecha_Creacion", title: "Fecha Parte Diario", media: "(min-width: 450px)" });
        colGrilla.push({ command: { name: "Ver", text:"Ver Detalle", click: VerDetalle }, title: "Ver Detalle", width: "120px" ,});

    $("#grillaParteDiario").kendoGrid({
        filterable: true,
        sortable: true,
        groupable: true,
        reorderable: true,
        columnMenu: true,
        toolbar: ["excel"],
        excel: {
            fileName: "ParteDiario.xlsx",

            allPages: true,
            filterable: true
        },
        dataSource: {
            data: datos
        },
        columns: colGrilla
    });
    }
    function VerDetalle(e) {
        var d = this.dataItem($(e.currentTarget).closest("tr"));
        var id = d.id;
        $('#ModalTitulo').html("Resumen Parte Diario");
        $.get("@Url.Action("_ParteDiarioResumen","ParteDiario")/" + id,
            function (data) {
                $('.modal-body').html(data);
                var windowHeight = $(window).height();
                var height = windowHeight / 5 * 4;
                $("#divMdlBody_ResumenPD").css({ 'overflow-y': 'scroll', 'height': (height + 'px') });

            })
        $('#ParteDiarioResumenModal').modal('show');
    }
    function cargaGrilla() {

        var model = {
            fechaDesde: $('#dtpFechaDesde').val(),
            fechaHasta: $('#dtpFechahasta').val(),
            proyecto: $('#Proyecto').val()
        }

        $.post("/ParteDiario/ParteDiarioGrillaFiltro", model).done(function (e) {

                    if (!e.isError) {

                        grilla(e.data);

                    }
         });

    }
    function cargaProyecto() {

        $.get("@Url.Action("GetProyecto", "ParteDiario")",
            function (data) {

                if (!data.isError) {
                    var d = '<select id="Proyecto" class="form-control">';
                    d = d + '<option value="0">Seleccione un Proyecto</option>';
                    for (var i = 0; i < data.data.length; i++) {
                        d = d + '<option value="' + data.data[i].id + '">' + data.data[i].nombre + '</option>';
                    }
                    d = d + '</select>';

                    $('#Conten_proyecto').html(d);
                }

            }
        );
    }

    //#endregion

</script>

