@model IEnumerable<Gestion.EF.Models.Planificacion_Actividades>

<div class="row">
    <div class="col-md-4"> <h6 class="card-title">Listado de Actividades</h6></div>
    <div class="col-md-6"></div>
    <div class="col-md-2">
        <div class="btn-master" type="button" onclick="Nuevo()"><i class="far fa-edit"></i> Agregar  Actividad</div>
    </div>
</div>

<br />
<div id="GrillaKendo"></div>

<input id="id_Actividad" type="hidden" />

<div class="modal fade  bd-example-modal-lg"
     id="Actividades_CalidadModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true"
     data-backdrop="static">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="ModalTituloC" class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div style="padding:15px;" class="modal-bodyC">

            </div>
        </div>
    </div>
</div>


<script>

    var data = JSON.parse('@Html.Raw(Json.Serialize(Model))');
    grilla(data);

    function grilla(datos) {
        $("#GrillaKendo").html("<div id='grillaActividades'></div>");

        //DEFINICION DE COLUMNAS DE LA GRILLA
        var colGrilla = [];
        colGrilla.push({ field: "id", title: "Id", width: "60px", media: "(min-width: 850px)", hidden: true });
        colGrilla.push({ field: "nombre", title: "Nombre", media: "(min-width: 450px)" });
        colGrilla.push({ field: "descripción", title: "Descripción", media: "(min-width: 450px)" });
        colGrilla.push({ field: "planificacion_Actividades_Rubro.nombre", title: "Rubro", media: "(min-width: 450px)" });
        colGrilla.push({ field: "codigoPartidaPresupuestaria", title: "Partida", media: "(min-width: 450px)" });
        colGrilla.push({ title: "Activo", template: '# if (activo) {#<img src="../dist/img/checkbox.png" />#} else {#<img src="../dist/img/uncheckbox.png" />#}#', width: "90px", attributes: { style: "text-align:center;" } });
        colGrilla.push({ command: { name: "kedit2", text: "Calidad", click: getCalidadModal }, title: "", width: "75px", attributes: { style: "text-align:center;" } });
        colGrilla.push({ command: { name: "kedit", text: "", click: Editar }, title: "Editar", width: "65px", attributes: { style: "text-align:center;" } });

        $("#grillaActividades").kendoGrid({
            filterable: true,
            sortable: true,
            groupable: true,
            reorderable: true,
            columnMenu: true,
            toolbar: ["excel"],
            excel: {
                fileName: "Actividades.xlsx",
                allPages: true,
                filterable: true
            },
            dataSource: {
                data: datos
            },
            columns: colGrilla,
            dataBound: function () {
                dataView = this.dataSource.view();
                for (var i = 0; i < dataView.length; i++) {
                    if (dataView[i].tiene_ItemsCalidad == 0) {
                        var uid = dataView[i].uid;
                        $("#grillaActividades tbody").find("tr[data-uid=" + uid + "]").addClass("K-bacgraundRow_A");
                    }
                }
            }
        });
    }
    function getCalidadModal(e) {
        var d = this.dataItem($(e.currentTarget).closest("tr"));
        console.log('modaldetalle',d);
        $('#id_Actividad').val(d.id);
        console.log("Id_Actividad", d.id);
        $('#ModalTituloC').html("Calidad");
        $.get("@Url.Action("Planificacion_Actividades_Calidad_Items", "Planificacion")/" + d.id,
            function (data) {
                $('.modal-bodyC').html(data);
                $('#nombres').html(d.nombre);
                $('#rubro').html(d.planificacion_Actividades_Rubro.nombre);

                //$('#parteDiario_PPA').val(d.parteDiario_PPA);
            })
        $('#Actividades_CalidadModal').modal('show');
    }

</script>
